<%# encoding: utf-8 %>

<%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row input-field col s12 m12 l12" style="margin-top: 20px;">
      <%= f.label "Nome da equipa" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="row input-field col s12 m12 l12" style="margin-bottom: 0px; margin-top: 0px;">
      <%= f.label "Coordenadas" %>
      <%= f.text_field :latlon %>
    </div>

    <div id="choose_leader_dropdown" class="row input-field col s12 m12 l12"
         style="margin-bottom: 30px; padding-top: 40px;">

      <label for="teste">Escolha o capitão</label>
      <select id="teste" class="browser-default">
        <!--<option value="" disabled>Choose your option</option>-->
        <option value="1" selected>User 1</option>
        <option value="2">User 2</option>
        <option value="3">User 3</option>
      </select>



      <%#= f.select("leader", User.all.collect {|p| [ p.first_name, p.id ] }, { include_blank: true }) %>
      <%#= f.select(:leader, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %>
      <%#= f.collection_select(:leader_id, @all_users, :id, :first_name, {:prompt => true}) %>
      <%#= f.select "team[leader]", options_from_collection_for_select(@all_users, "id", "first_name") %>
      <%#= label_tag "Nome da equipa", for: "team_leader" %>
      <%#= f.select(:team, :leader, User.all, :id, :first_name, {disabled: lambda{|category| category.archived?}) %>
      <%#= f.collection_select(:team_members, User.all.order(id: :asc), :id, :full_name) %>
      <%#= select_tag 'team[leader]', options_from_collection_for_select(@all_users, 'id', 'first_name', 'last_name') %>
      <%#= f.label "Teste", for: "team_leader" %>
    </div>

    <div class="row">
      <p style="font-weight: 300; padding-left: 10px; font-size: 20px; margin-bottom: 0px;">
        Adicione utilizadores à equipa
      </p>
      <% @all_users.each do |user| %>
          <div class="col m3 l3 s3">
            <% username = user.first_name + " " + user.last_name %>
            <p>
              <% if @users_in_team.include?(user) %>
                  <%= f.check_box("users", {:multiple => true, :checked => "checked"}, user.id.to_s, nil) %>
              <% else %>
                  <%= f.check_box("users", {:multiple => true}, user.id.to_s, nil) %>
              <% end %>
              <%= f.label username, for: "team_users_"+user.id.to_s %>
            </p>
          </div>
      <% end %>
    </div>


    <div class="actions col m12 l12 s12" style="margin-top: 30px;">
      <% if @create_new_team %>
          <%= f.button 'Criar equipa', class: "btn waves-effect waves-light" %>
      <% else %>
          <%= f.button 'Atualizar', class: "btn waves-effect waves-light" %>
      <% end %>
    </div>
<% end %>
