<%# encoding: utf-8 %>

<%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row input-field col s12 m12 l12" style="margin-top: 20px;">
      <%= f.label "Nome da equipa" %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="row input-field col s12 m12 l12" style="margin-bottom: 30px; margin-top: 0px;">
      <%= f.label "Coordenadas" %>
      <%= f.text_field :latlon %>
    </div>

    <div class="row">
      <p style="font-weight: 300; padding-left: 10px; font-size: 20px; margin-bottom: 0px;">
        Adicione utilizadores à equipa
      </p>
      <% @all_users.each do |user| %>
          <div class="col m3 l3 s3">
            <% username = user.first_name + " " + user.last_name %>
            <p>
              <% if @users_in_team.include?(user) %>
                  <%= f.check_box("users", {:multiple => true, :checked => "checked"}, user.id.to_s, nil) %>
              <% else %>
                  <%= f.check_box("users", {:multiple => true}, user.id.to_s, nil) %>
              <% end %>
              <%= f.label username, for: "team_users_"+user.id.to_s %>
            </p>
          </div>
      <% end %>

    </div>

    <div class="actions col m12 l12 s12" style="margin-top: 30px;">
      <% if @create_new_team %>
          <%= f.button 'Criar equipa', class: "btn waves-effect waves-light" %>
      <% else %>
          <%= f.button 'Atualizar', class: "btn waves-effect waves-light" %>
      <% end %>
    </div>
<% end %>
