<%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :latlon %><br>
      <%= f.text_field :latlon %>
    </div>

    <div class="row">
      <div class="col m12 l12 s12">
        <% @all_users.each do |user| %>
            <% username = user.first_name + " " + user.last_name %>
            <p>
              <% if @users_in_team.include?(user) %>
                  <%= f.check_box("users", {:multiple => true, :checked => "checked"}, user.id.to_s, nil) %>
              <% else %>
                  <%= f.check_box("users", {:multiple => true}, user.id.to_s, nil) %>
              <% end %>
              <%= f.label username, for: "team_users_"+user.id.to_s %>
            </p>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
