<%# encoding: utf-8 %>

<%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

          <ul>
            <% @team.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row input-field col s12 m12 l12" style="margin-top: 20px;">
      <%= f.label "Nome da equipa" %>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>
    <div class="row input-field col s12 m12 l12" style="margin-bottom: 0px; margin-top: 0px;">
      <%= f.label "Coordenadas" %>
      <%= f.text_field :latlon %>
    </div>

    <div id="choose_leader_dropdown" class="row input-field col s12 m12 l12"
         style="margin-bottom: 30px; padding-top: 40px;">
      <!-- A equipa não tem lider. P.e: quando estamos a criar uma nova equipa hehe -->
      <% if @team_leader.nil? %>
          <%= select_tag 'team[is_leader]', options_from_collection_for_select(@users_in_team, :id, :full_name),
                         {prompt: 'Escolha um utilizador', class: 'browser-default', id: "select_team_leader",
                          required: true} %>
      <% else %>
          <%= select_tag 'team[is_leader]', options_from_collection_for_select(
                                                  @users_in_team, :id, :full_name, @team_leader.user_id),
                         {prompt: 'Escolha um utilizador', class: 'browser-default', id: "select_team_leader",
                          required: true} %>
      <% end %>

      <%= f.label "Responsável pela equipa", for: "select_team_leader" %>
    </div>

    <div class="row">
      <p style="font-weight: 300; padding-left: 10px; font-size: 20px; margin-bottom: 0px;">
        Adicione utilizadores à equipa
      </p>
      <% @all_users.each do |user| %>
          <div class="col m4 l3 s6">
            <% full_name = user.first_name + " " + user.last_name %>
            <p>
              <% if @users_in_team.include?(user) %>
                  <%= f.check_box("users", {:multiple => true, :checked => "checked"}, user.id.to_s, nil) %>
              <% else %>
                  <%= f.check_box("users", {:multiple => true}, user.id.to_s, nil) %>
              <% end %>
              <%= f.label :full_name, full_name, for: "team_users_"+user.id.to_s %>
            </p>
          </div>
      <% end %>
    </div>


    <div class="actions col m12 l12 s12" style="margin-top: 30px;">
      <% if @create_new_team %>
          <%= f.button 'Criar equipa', class: "btn waves-effect waves-light disabled", id: "team-submit-form" %>
      <% else %>
          <%= f.button 'Atualizar', class: "btn waves-effect waves-light", id: "team-submit-form" %>
      <% end %>
    </div>
<% end %>
