<div class="white z-depth-1">
  <div style="padding: 20px 0 20px 0; margin-bottom: 0; margin-left: 2%; margin-right: 2%;">
    <div class="row" style="margin: 0;">
      <div class="col l6 m6 s6 valign-wrapper" style="padding-left: 0; height: 38px;">
        <span class="valign"><%= page_entries_info teams %>
          <%= render_filterrific_spinner %></span>
      </div>
      <div class="col l6 m6 s6" style="padding-right: 0;">
        <%= link_to(
                'Repor filtros',
                reset_filterrific_url,
                method: :get,
                class: "right btn waves-effect white-btn"
            ) %>
      </div>
    </div>
  </div>

  <div class="divider" style="width: 96%; margin-left: 2%; margin-bottom: 15px;"></div>

  <ul class="collapsible " data-collapsible="expandable" style="margin-left: 2%; margin-right: 2%; width: 96%;">
    <% teams.each do |team| %>
        <li class="team-entry">
          <% arr_is_empty = true %>
          <% if !team.latlon.nil? %>
              <% arr_is_empty = false %>
          <% end %>
          <div class="collapsible-header truncate">
            <strong>
              <%= link_to team, method: :get do %>
                  <span class="team-title"><%= team.name %></span>
              <% end %> |
            </strong>
            <% if arr_is_empty %>
                [Sem localização definida]
            <% else %>
                <%= team.address %>
            <% end %>
          </div>
          <div class="collapsible-body">
            <blockquote style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px;">
              <% team_users = team.users %>
              <% team_users.each do |user| %>
                  <%= link_to user, method: :get do %>
                      <%= user.full_name %>,
                  <% end %>
                  <%= user.profile %>
                  <br>
              <% end %>
            </blockquote>
          </div>
        </li>
    <% end %>
  </ul>

  <div class="divider center" style="width: 96%; margin-left: 2%; margin-top: 15px;"></div>

  <div id="pagination_stuff" class="center">
    <%= will_paginate teams %>
  </div>
</div>