<%# encoding: utf-8 %>

<% @show_search_stuff = true %>

<% content_for :title, "Equipas :: PROCIV Portugal" %>

<% content_for :model_actions do %>
    <% if can? :create, Team %>
        <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
          <%= link_to new_team_path, :data => {:position => 'left', :delay => '0', :tooltip => 'Criar equipa'},
                      class: 'btn-floating btn-large red tooltipped', method: :get do %>
              <i class="large material-icons">add</i>
          <% end %>
        </div>
    <% end %>
<% end %>

<% content_for :search_stuff do %>
    <div class="row white-text indigo darken-4" id="search" style="display: none; position: fixed; width: 100%; z-index: 9999;">
      <div class="container">
        <input id="search-bar" class="form-control white-text" type="text" name="q"
               placeholder="Comece a escrever o nome da equipa...">
      </div>
    </div>
<% end %>

<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button active', target: '_blank', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin-top: 10px;">
  <div class="col l12 m12 s12 white z-depth-1" id="advanced_options" style="padding-bottom: 11px;">
    <div class="section" style="padding-bottom: 0;">
      <div id="toggle_options_panel" style="cursor: pointer;">
        <!--<i id="arrow_down" class="material-icons left md-36" style="display: none;">keyboard_arrow_down</i>-->
        <i id="arrow_up" class="material-icons left md-36">keyboard_arrow_down</i>
      </div>

      <h5 style="margin-top: 4px;">Opções avançadas</h5>
    </div>

    <div id="options_div" style="margin-top: 30px; display: none;">
      <a class="waves-effect waves-light btn" id="expand_all" style="margin-bottom: 10px;">
        Expandir todas as entradas
      </a>
      <br>
      <a class="waves-effect waves-light btn" id="collapse_all">
        Colapsar todas as entradas
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12 m12 s12" style="padding: 0;">
    <ul class="collapsible" data-collapsible="expandable">
      <% @teams.each do |team| %>
          <li class="team-entry">
            <% arr_is_empty = true %>
            <% if !team.latlon.nil? %>
                <% arr_coords = team.latlon.to_s.split('(')[1].split(')')[0].split(' ') %>
                <% arr_is_empty = false %>
            <% end %>
            <div class="collapsible-header truncate">
              <strong>
                <%= link_to team, method: :get do %>
                    <span class="team-title"><%= team.name %></span>
                <% end %> |
              </strong>
              <% if arr_is_empty %>
                  [Sem localização definida]
              <% else %>
                  <!--[<%#= arr_coords[1] %>; <%= arr_coords[0] %>]-->
                  <%= team.address %>
              <% end %>
            </div>
            <div class="collapsible-body">
              <blockquote style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px;">
                <% team_users = team.users %>
                <% team_users.each do |user| %>
                    <%= link_to user, method: :get do %>
                        <%= user.full_name %>,
                    <% end %> <%= user.profile %>
                    <br>
                <% end %>
              </blockquote>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="no-results col l6 m8 s10 push-l3 push-m2 push-s1 center-align" style="margin-top: 30px;">
    <i><span>Nenhuma equipa corresponde à pesquisa efetuada...</span>
      <br>
      <span>Tente refinar a pesquisa para obter resultados.</span></i>
  </div>
</div>