<%# encoding: utf-8 %>

<% @show_search_stuff = true %>

<% content_for :title, "Equipas :: GestãoEmergência" %>

<% content_for :model_actions do %>
    <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
      <%= link_to new_team_path, :data => {:position => 'left', :delay => '15', :tooltip => 'Criar equipa'},
                  class: 'btn-floating btn-large red tooltipped', method: :get do %>
          <i class="large material-icons">add</i>
      <% end %>
    </div>
<% end %>

<% content_for :search_stuff do %>
    <div class="row white-text indigo darken-4" id="search" style="display: none; position: fixed; width: 100%; z-index: 9999;">
      <div class="container">
        <input id="search-bar" class="form-control white-text" type="text" name="q"
               placeholder="Comece a escrever o nome da equipa...">
      </div>
    </div>
<% end %>

<strong><span><%= flash.now[:error] %></span></strong>
<ul class="collapsible popout" data-collapsible="accordion" style="margin-left: 10px; margin-right: 10px;">
  <% @teams.each do |team| %>
      <li class="team-entry">
        <% arr_is_empty = true %>
        <% if !team.latlon.nil? %>
            <% arr_coords = team.latlon.to_s.split('(')[1].split(')')[0].split(' ') %>
            <% arr_is_empty = false %>
        <% end %>
        <div class="collapsible-header truncate">
          <strong>
            <%= link_to team, method: :get do %>
                <span class="team-title"><%= team.name %></span>
            <% end %> |
          </strong>
          <% if arr_is_empty %>
              [Sem localização definida]
          <% else %>
              [<%= arr_coords[1] %>; <%= arr_coords[0] %>]
          <% end %>
        </div>
        <div class="collapsible-body">
          <p style="padding: 15px;">
            <% team_users = team.users %>
            <% team_users.each do |user| %>
                <%= link_to user, method: :get do %>
                    <%= user.full_name %>,
                <% end %> <%= user.profile %>
                <br>
            <% end %>
          </p>
        </div>
      </li>
  <% end %>
</ul>

<div class="no-results col l6 m8 s10 push-l3 push-m2 push-s1 center-align" style="margin-top: 30px;">
  <i><span>Nenhuma equipa corresponde à pesquisa efetuada...</span>
    <br>
    <span>Tente refinar a pesquisa para obter resultados.</span></i>
</div>