<%# encoding: utf-8 %>

<% @show_search_stuff = true %>
<% content_for :title, "Equipas :: GestãoEmergência" %>
<% content_for :page_purpose, "Equipas" %>

<% content_for :model_actions do %>
    <%= link_to new_team_path, :data => {:position => 'left', :delay => '15',
                                         :tooltip => 'Adicionar equipa'},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36">add</i>
    <% end %>
<% end %>

<% content_for :back_page do %>
    <%= link_to root_path, :data => {:position => 'right', :delay => '15', :tooltip => 'Voltar para o mapa'},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36 white-text">arrow_back</i>
    <% end %>
<% end %>

<div class="container">
  <strong><span><%= flash.now[:error] %></span></strong>
  <ul class="collapsible popout" data-collapsible="accordion" style="margin-left: 10px; margin-right: 10px;">
    <% @teams.each do |team| %>
        <li>
          <% arr_coords = team.latlon.to_s.split('(')[1].split(')')[0].split(' ') %>
          <div class="collapsible-header truncate">
            <strong>
              <%= link_to team, method: :get do %>
                  <%= team.name %>
              <% end %> |
            </strong> [<%= arr_coords[1] %>; <%= arr_coords[0] %>]
          </div>
          <div class="collapsible-body">
            <p style="padding: 15px;">
              <% team_users = team.users %>
              <% team_users.each do |user| %>
                  <%= link_to user, method: :get do %>
                      <%= user.full_name %>,
                  <% end %> <%= user.profile %>
                  <br>
              <% end %>
            </p>
          </div>
        </li>
    <% end %>
  </ul>
</div>