<%# encoding: utf-8 %>

<% content_for :title, @team.name + " :: PROCIV Portugal" %>

<% content_for :model_actions do %>
    <% if (can_perform_action? :update, @team) || (can_perform_action? :destroy, @team) %>
        <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">more_horiz</i>
          </a>

          <ul>
            <% if can_perform_action? :destroy, @team %>
                <li>
                  <%= link_to @team, id: 'btn_hidden_remove_team', class: 'btn-floating green tooltipped', data: {
                      confirm: "Tem a certeza de que pretende remover esta equipa?\nEsta ação é irreversível!",
                      position: 'left', delay: '0', tooltip: 'Eliminar equipa'}, method: :delete do %>
                      <i class="material-icons">delete</i>
                  <% end %>
                </li>
            <% end %>
            <% if can_perform_action? :update, @team %>
                <li>
                  <%= link_to edit_team_path(@team), :data => {:position => 'left', :delay => '0',
                                                               :tooltip => 'Editar equipa'},
                              class: 'btn-floating blue tooltipped', method: :get do %>
                      <i class="material-icons">edit</i>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>

<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button active', target: '_blank', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin-top: 20px;">
  <div id="teams_info_div" class="col l4 m12 s12 center-align z-depth-1 white"
       style="padding-left: 20px; padding-top: 0px; padding-bottom: 20px; padding-right: 20px;">
    <h5 style="font-weight: 300;">Detalhes</h5>

    <div class="divider divider-margin"></div>

    <div class="col l12 m6 s12 hide-on-med-only">
      <h6 style="font-weight: 300; margin-top: 0 !important;">
        <strong><%= @team.name.mb_chars.upcase %></strong>
      </h6>

      <div class="divider divider-margin"></div>
    </div>

    <div class="col l12 m6 s12">
      <%= image_tag @team_leader.avatar.url(:small), class: 'circle responsive-img' %>

      <h6 class="hide-on-med-only" style="font-weight: 300;">
        Líder:
        <%= link_to @team_leader, method: :get do %>
            <%= @team_leader.full_name %>
        <% end %>
      </h6>
      <h6 class="hide-on-med-only" style="font-weight: 300;">
        Responsável por atualizar a posição:
        <%= link_to @location_user, method: :get do %>
            <%= @location_user.full_name %>
        <% end %>
      </h6>
    </div>

    <div class="col l12 m6 s12 hide-on-large-only hide-on-small-only">
      <h6 style="font-weight: 300;">
        <strong><%= @team.name.mb_chars.upcase %></strong>
      </h6>

      <div class="divider divider-margin"></div>
    </div>

    <div class="col l12 m6 s12">
      <h6 class="hide-on-small-only hide-on-large-only" style="font-weight: 300;">
        Líder:
        <%= link_to @team_leader, method: :get do %>
            <%= @team_leader.full_name %>
        <% end %>
      </h6>

      <div class="divider divider-margin hide-on-med-only"></div>

      <h6 class="hide-on-small-only hide-on-large-only" style="font-weight: 300;">
        Responsável por atualizar a posição:
        <%= link_to @location_user, method: :get do %>
            <%= @location_user.full_name %>
        <% end %>
      </h6>

      <div class="divider divider-margin hide-on-small-only hide-on-large-only"></div>

      <div style="font-weight: 300;">
        <i title="Data da criação" class="material-icons tiny">access_time</i>
        <span style="padding-left: 10px"><%= @team.created_at.to_datetime.to_formatted_s(:long_ordinal) %></span>
      </div>

      <div style="font-weight: 300; ">
        <i title="Data da última atualização" class="material-icons tiny">edit</i>
        <span style="padding-left: 10px"><%= @team.updated_at.to_datetime.to_formatted_s(:long_ordinal) %></span>
      </div>
    </div>
  </div>

  <div id="team_coordinates" class="center col s12 m12 l8 z-depth-1 white"
       style="padding-left: 20px; padding-top: 0px; padding-bottom: 20px; padding-right: 20px;">
    <h5 style="font-weight: 300;">Coordenadas</h5>

    <div class="divider divider-margin"></div>

    <div id="team_map" style="height: 350px;"></div>
  </div>
</div>

<% if can_perform_action? :create, TeamMember %>
    <div class="row z-depth-1 white"
         style="padding-left: 20px; padding-top: 1px; padding-bottom: 20px; padding-right: 20px;">
      <div class="section">
        <h5>Adicionar membro a esta equipa</h5>
        <span><i>Nota: utilizadores com perfil <b>básico</b> não podem pertencer a equipas.</i></span>
      </div>

      <div id="add_user_form">
        <div class="col s7 l9 m8" style="padding-left: 0;">
          <%= select_tag 'dropdown_add_user_to_team', grouped_options_for_select(@users_for_select),
                         {prompt: 'Escolha um utilizador', class: 'browser-default', id: "dropdown_add_user_to_team"} %>
        </div>

        <div class="col s5 l3 m4 right-align" style="padding-right: 0;">
          <a id="confirm_add_user" class="waves-effect waves-light btn"
             style="height: 41px; line-height: 41px;">Adicionar!</a>
        </div>
      </div>

      <blockquote id="no_user_to_add" style="display: none;">
        De momento não é possível adicionar qualquer utilizador a esta equipa.
      </blockquote>
    </div>
<% end %>

<div class="row z-depth-1 white">
  <div class="s12 l12 m12">
    <div class="col s12">
      <ul id="teams-tabs-list" class="tabs" style="overflow-x: hidden;">
        <li class="tab col s3">
          <a id="team_members_count" class="active" href="#team_members">Membros (<%= @team.users.size %>)</a>
        </li>
        <li class="tab col s3">
          <a href="#team_geo_entities">Geo-entidades (<%= @team_geo_entities.size %>)</a>
        </li>
      </ul>
    </div>

    <div id="team_members" class="col s12">
      <ul class="collection" id="users_in_team_list">
        <% @team.users.each do |user| %>
            <% is_leader = false %>
            <% is_in_charge_of_location = false %>
            <% if user.id == @team_leader.id %>
                <% is_leader = true %>
            <% end %>
            <% if user.id == @location_user.id %>
                <% is_in_charge_of_location = true %>
            <% end %>
            <%= render partial: 'list_entry',
                       locals: {user: user, is_leader: is_leader, in_charge_of_location: is_in_charge_of_location} %>
        <% end %>
      </ul>
    </div>

    <div id="team_geo_entities" class="col s12">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Geo-entidades associadas a esta equipa</h5>
        </li>
        <% if @team_geo_entities.count == 0 %>
            <li style="padding-left: 20px;" class="collection-item">
              Esta equipa não tem geo-entidade associada.
            </li>
        <% else %>
            <% @team_geo_entities.each do |entity| %>
                <%= puts "ENTYITY ENTITYTHIUTR" %>
                <%= puts entity.inspect %>
                <li class="collection-item" style="padding-left: 20px;">
                  <div class="row">
                    <div class="col l11">
                      <strong>
                        <span style="font-size: 15px;"><%= entity.name %></span>
                        <span> | </span>
                        <span style="font-size: 12px;"><%= entity.entity_type %></span>
                        <span> | </span>
                      </strong>
                      <span class="entity-latlon" style="font-size: 12px;"><%= entity.latlon %></span>
                    </div>
                    <div class="col l1 center-align">
                      <a data-position="left" onclick="goToGeoEntity(<%= entity.id %>)" data-delay="0"
                         data-tooltip="Centrar mapa" class="tooltipped secondary-content" style="cursor: pointer;">
                        <i class="material-icons">my_location</i>
                      </a>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="remove_user_confirm" class="modal">
  <div class="modal-content">
    <h4>Remover membro</h4>
    <p>Tem a certeza que pretende remover o membro <b id="modal_user_name"></b> desta equipa?
    </p>
  </div>
  <div class="modal-footer">
    <a id="modal_confirm_removal" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>