<%# encoding: utf-8 %>

<% content_for :title, "Questionário :: LiveTeams Portugal" %>
<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to evaluation_form_path, class: 'evaluation_form_link navbar-button active', method: :get do %>
          Questionário
      <% end %>
    </li>
    <% if can_perform_action? :read, UserRole %>
        <li>
          <%= link_to permissions_path, class: 'navbar-button', method: :get do %>
              Permissões
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to teams_path, class: 'navbar-button', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<!-- a iframe que contem o questionario da google -->
<iframe src="https://docs.google.com/forms/d/11pB4XjdBqo1rb6weuLdgrJ8YxgW4eq1xqDVf93-58j0/viewform?embedded=true"
        style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:calc( 100% - 64px );
            width:100%;position:fixed;top:64px;left:0px;right:0px;bottom:50px"
        frameborder="0" marginheight="0" marginwidth="0">A carregar o questionário...
</iframe>