<%# encoding: utf-8 %>

<!--<h1>Homepage#index</h1>-->
<!--<p>Find me in app/views/homepage/index.html.erb</p>-->

<!-- TODO: MARGIN-BOTTOM A 150PX OU MAIS PEQUENO E MUDAR CONTROLOS DE ZOOM DE LUGAR!? -->
<div id="sidebar" class="sidebar sidebar-right collapsed" style="max-height: 75%; min-height: 200px;">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <a href="#profile" role="tab">
          <%= tag("img", class: 'profile_name', data: {name: current_user.first_name}) %>
        </a>
      </li>
      <li>
        <a href="#teams" role="tab">
          <i class="fa fa-users"></i>
        </a>
      </li>
      <li>
        <a href="#warnings" role="tab">
          <i class="fa fa-exclamation-triangle"></i>
        </a>
      </li>
      <li>
        <a href="#users" role="tab">
          <i class="fa fa-user"></i>
        </a>
      </li>
    </ul>

    <ul role="tablist">
      <!--<li>-->
      <!--<a href="#settings" role="tab">-->
      <!--<i class="fa fa-gear"></i>-->
      <!--</a>-->
      <!--</li>-->
      <li>
        <a href="#about_sidebar" role="tab">
          <i class="fa fa-question-circle"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header">Bem vindo <%= current_user.first_name %>!
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper">
        <div class="row valign-wrapper" style="margin-top: 20px">
          <div class="col s5">
            <!--<img src="images/sec-estado-jorge-barreto-xavier.jpg" alt="" class="circle responsive-img">-->
            <%= image_tag current_user.avatar.url, class: 'circle responsive-img' %>
          </div>
          <div class="col s7">
            <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
            <hr>
            <span>Administrador</span><br>
            <span>Registado há 100 dias</span>
          </div>
        </div>
        <div class="row">
          <%= link_to 'Encerrar sessão', destroy_user_session_path, :method => :delete %>
        </div>
      </div>

    </div>

    <div class="sidebar-pane" id="teams">
      <h1 class="sidebar-header">Equipas
        <a class="waves-effect waves-teal btn modal-trigger right" onclick="drawMapOnModal(1)" style="width: 53px;
                height: 33px; padding-left: 7px; padding-right: 10px; margin-top: 3px;" href="#create_team_modal">
          <i class="material-icons md-24 md-light">group_add</i>
        </a>
        <!-- botao que apresenta/esconde as checkboxes -->
        <a class="waves-effect waves-teal btn right" style="width: 53px; height: 33px;
                padding-left: 7px; padding-right: 7px; margin-top: 3px; margin-right: 10px;">
          <i class="fa fa-check-square-o"></i>
        </a>

        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>


      <div class="list_wrapper">
        <ul id="hover_test" class="collapsible" data-collapsible="accordion" style="margin-right: 10px;">

          <% Team.all.each do |team| %>
              <li>
                <div class="collapsible-header">
                  <!--<div style="display: inline;">-->
                  <!--<input type="checkbox" id="test1" />-->
                  <!--<label for="test1">Equipa principal</label>-->
                  <!--</div>-->

                  <%= team.name %>

                  <a class="edit-team-btn waves-effect waves-teal btn-flat modal-trigger right" onclick="drawMapOnModal(2)"
                     href="#edit_team_modal">
                    <i class="material-icons md-18">build</i>
                  </a>
                </div>
                <div class="collapsible-body">
                  <ul class="collection">

                    <% TeamMember.where(team_id: team.id).each do |t_member| %>

                        <% @t_user = User.find_by(id: t_member.user_id) %>

                        <li class="collection-item avatar team-list-item">

                          <% if (t_member.is_leader) %>
                              <!-- RIBBON PARA INDICAR O CHEFE DE EQUIPA -->
                              <div class="corner-ribbon top-right red shadow">Chefe</div>
                          <% end %>

                          <%= image_tag @t_user.avatar.url, class: 'circle' %>
                          <span class="title">
                            <strong>
                              <%= @t_user.first_name %> <%= @t_user.last_name %>
                            </strong>
                          </span><br>

                          <p>Administrador</p>
                        </li>

                    <% end %>

                    <!--<li class="collection-item avatar">-->
                    <!--<%#= image_tag 'renato_alexandre.jpg', class: 'circle' %>-->
                    <!--<span class="title"><strong>Homem do Bussaco</strong></span><br>-->

                    <!--<p>Jardineiro</p>-->
                    <!--</li>-->
                    <!--<li class="collection-item avatar">-->
                    <!--<%#= image_tag 'renato_alexandre.jpg', class: 'circle' %>-->
                    <!--<span class="title"><strong>Bruno Aleixo</strong></span><br>-->

                    <!--<p>Reputado escritor</p>-->
                    <!--</li>-->
                  </ul>
                </div>
              </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div class="sidebar-pane" id="warnings">
      <h1 class="sidebar-header">
        Alertas ativos
        <span class="badge new" style="line-height: 30px; margin-top: 5px;">4</span>

        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div class="card green">
          <div class="card-content card-reduced-padding-top">
            <h5 class="black-text">Situação regularizada</h5>
            <span><i class="material-icons md-18">schedule</i> 20 Out, 12h - infinito</span>
            <br>
            <span><i class="material-icons md-18">map</i> Todo o território nacional</span>
          </div>
        </div>
        <div class="card yellow">
          <div class="card-content">
            <h5 class="black-text">Agitação Marítima</h5>
            <span><i class="material-icons md-18">schedule</i> 21 Set, 17h - 25 Set, 12h</span>
            <br>
            <span><i class="material-icons md-18">map</i> Setúbal, Lisboa, Santarém</span>
            <br>
            <span><i class="material-icons md-18">comment</i> São esperadas ondas com cerca de 7 metros de altura.</span>
          </div>
        </div>
        <div class="card red">
          <div class="card-content">
            <h5 class="black-text">Temperaturas Elevadas</h5>
            <span><i class="material-icons md-18">schedule</i> 25 Set, 12h - 30 Set, 12h</span>
            <br>
            <span><i class="material-icons md-18">map</i> Vila Real, Viseu, Guarda, Portalegre, Beja, Setúbal</span>
            <br>
            <span><i class="material-icons md-18">comment</i> Temperaturas superiores a 40ºC.</span>
          </div>
        </div>
        <div class="card orange">
          <div class="card-content">
            <h5 class="black-text">Vento Forte</h5>
            <span><i class="material-icons md-18">schedule</i> 30 Set, 12h - 20 Out, 12h</span>
            <br>
            <span><i class="material-icons md-18">map</i> Évora, Faro, Beja</span>
            <br>
            <span><i class="material-icons md-18">comment</i> Vai tar uma ventania dos diabos, é melhor um gajo ter cuidado.</span>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: ESTA TAB APENAS VISIVEL PARA OS ADMINISTRADORES!? -->
    <div class="sidebar-pane" id="users">
      <h1 class="sidebar-header">Lista de utilizadores
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <ul class="collection">
          <% User.all.each do |user| %>
              <li class="collection-item avatar">
                <%= image_tag user.avatar.url, class: 'circle responsive-img' %>
                <span class="title"><%= user.first_name %> <%= user.last_name %></span>

                <p><%= user.email %></p>
              </li>
          <% end %>
        </ul>
      </div>

    </div>

    <!--<div class="sidebar-pane" id="settings">-->
    <!--<h1 class="sidebar-header">Definições-->
    <!--<div class="sidebar-close"><i class="fa fa-caret-right"></i></div>-->
    <!--</h1>-->
    <!--</div>-->

    <div class="sidebar-pane" id="about_sidebar">
      <h1 class="sidebar-header">Acerca do projeto
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>
    </div>
  </div>
</div>

<div id="map"></div>

<div id="location_div">
  <div id="location_symbol">
    <i class="material-icons">my_location</i>
  </div>
  <div id="curr_location">
    <div>
      <span>Santa Eugénia, Alijó. </span>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<div id="edit_team_modal" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h5>Editar definições de equipa</h5>
  </div>

  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12">
        <input id="team_name" value="Equipa de Sapadores de Corroios" type="text" class="validate">
        <label for="team_name"><strong>Nome da equipa</strong></label>
      </div>
    </div>
    <div class="row">
      <label style="padding-left: 10px;"><strong>Utilizadores na equipa</strong></label>

      <div class="input-field col s12" style="padding: 0px; height: 150px; overflow-y: auto; width: 100%;">
        <form action="#">
              <span>
                <input type="checkbox" checked id="usr1"/>
                <label for="usr1">Utilizador numero 1</label>
              </span>
          <br>
              <span>
                <input type="checkbox" id="usr2"/>
                <label for="usr2">Utilizador numero 2</label>
              </span>
          <br>
              <span>
                <input type="checkbox" checked id="usr3"/>
                <label for="usr3">Utilizador numero 3</label>
              </span>
          <br>
              <span>
                <input type="checkbox" checked id="usr4"/>
                <label for="usr4">Utilizador numero 4</label>
              </span>
          <br>
              <span>
                <input type="checkbox" id="usr5"/>
                <label for="usr5">Utilizador numero 6</label>
              </span>
          <br>
              <span>
                <input type="checkbox" checked id="usr6"/>
                <label for="usr6">Utilizador numero 7</label>
              </span>
          <br>
              <span>
                <input type="checkbox" id="usr7"/>
                <label for="usr7">Utilizador numero 8</label>
              </span>
        </form>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="input-field col s12">
        <select style="z-index: 10000;">
          <option value="">Escolha um dos utilizadores</option>
          <option value="1">Utilizador 1</option>
          <option value="2" selected>Utilizador 2</option>
          <option value="3">Utilizador 3</option>
        </select>
        <label><strong>Escolher responsável da equipa</strong></label>
      </div>
    </div>
    <div class="row">
      <label style="padding-left: 10px;"><strong>Destacar equipa para local</strong></label>

      <div class="input-field col s12">
        <div id="edit_team_map"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="create_team_modal" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h5>Criar nova equipa</h5>
  </div>
  <div class="modal-content">
    <!--<div class="row">-->
    <!--<div class="input-field col s12">-->
    <!--<input id="team_name" value="" type="text" class="validate">-->
    <!--<label for="team_name"><strong>Nome da equipa</strong></label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<label style="padding-left: 10px;"><strong>Utilizadores na equipa</strong></label>-->

    <!--<div class="input-field col s12" style="padding: 0px; height: 150px; overflow-y: auto; width: 100%;">-->
    <!--<form action="#">-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr1"/>-->
    <!--<label for="usr1">Utilizador numero 1</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr2"/>-->
    <!--<label for="usr2">Utilizador numero 2</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr3"/>-->
    <!--<label for="usr3">Utilizador numero 3</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr4"/>-->
    <!--<label for="usr4">Utilizador numero 4</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr5"/>-->
    <!--<label for="usr5">Utilizador numero 6</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr6"/>-->
    <!--<label for="usr6">Utilizador numero 7</label>-->
    <!--</span>-->
    <!--<br>-->
    <!--<span>-->
    <!--<input type="checkbox" id="usr7"/>-->
    <!--<label for="usr7">Utilizador numero 8</label>-->
    <!--</span>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="padding-top: 10px;">-->
    <!--<div class="input-field col s12">-->
    <!--<select style="z-index: 10000;">-->
    <!--<option value="" selected>Escolha um dos utilizadores</option>-->
    <!--<option value="1">Utilizador 1</option>-->
    <!--<option value="2">Utilizador 2</option>-->
    <!--<option value="3">Utilizador 3</option>-->
    <!--</select>-->
    <!--<label><strong>Escolher responsável da equipa</strong></label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<label style="padding-left: 10px;"><strong>Destacar equipa para local</strong></label>-->

    <!--<div class="input-field col s12">-->
    <!--<div id="create_team_map"></div>-->
    <!--</div>-->
    <!--</div>-->

    <%= render :partial => '/teams/form', :locals => {:team => Team.new} %>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>