<%# encoding: utf-8 %>

<div id="frontpage-navbar" class="navbar-fixed">
  <nav class="blue darken-2" role="navigation" style="box-shadow: none;">
    <div class="nav-wrapper">
      <ul class="left navbar-buttons">
        <li>
          <%= link_to 'http://www.prociv.pt/Pages/default.aspx', target: '_blank', id: 'navbar-icon-div',
                      style: 'font-size: 1.2rem; font-weight: 300; margin-top: 0;',
                      class: 'navbar-padding-top brand-logo left', method: :get do %>
              <%= image_tag 'prociv_logotipo.gif', class: 'circle left', height: '42', width: '42' %>
              <span>LiveTeams</span>
          <% end %>
          </a>
        </li>
      </ul>
      <a href="#" id="hamburguer-homepage" data-activates="mobile-demo" class="right button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="navbar-buttons right hide-on-med-and-down">
        <li>
          <%= link_to root_path, target: '_blank', class: 'navbar-button active', method: :get do %>
              Mapa
          <% end %>
        </li>
        <% if can_perform_action? :read, UserRole %>
            <li>
              <%= link_to permissions_path, class: 'navbar-button', target: '_blank', method: :get do %>
                  Permissões
              <% end %>
            </li>
        <% end %>
        <li>
          <%= link_to teams_path, class: 'navbar-button', target: '_blank', method: :get do %>
              Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: 'navbar-button', target: '_blank', method: :get do %>
              Membros
          <% end %>
        </li>
        <li>
          <%= link_to "#!", id: 'navbar-profile-div', class: 'dropdown-button', data: {activates: "dropdown-profile"},
                      style: 'height: 64px;' do %>
              <%= image_tag current_user.avatar.url(:thumb), class: 'circle left',
                            style: 'margin-top: 15px; margin-right: 10px;', height: '32', width: '32' %>
              <%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i>
          <% end %>
        </li>
      </ul>

      <ul id="dropdown-profile" class="dropdown-content">
        <li>
          <%= link_to current_user, target: '_blank', method: :get do %>
              Ver perfil
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user), target: '_blank', method: :get do %>
              Editar perfil
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
              Logout
          <% end %>
        </li>
      </ul>

      <!-- barra lateral ativada em ecras mais pequenos -->
      <ul class="side-nav" id="mobile-demo">
        <li style="padding: 0;">
          <div id="profile-sidenav" style="height: 120px;">
            <div style="padding-top: 56px; height: 120px; padding-left: 15px; padding-right: 15px;" class="valign-wrapper">
              <%= image_tag current_user.avatar.url(:thumb), class: 'circle valign', style: 'margin-top: 0;',
                            height: '32', width: '32' %>
              <%= link_to current_user, class: 'valign white-text', style: ' margin-bottom: 28px; height: 32px;',
                          target: '_blank', method: :get do %>
                  <%= current_user.full_name %>
              <% end %>
            </div>
          </div>
        </li>
        <li>
          <%= link_to root_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button active', method: :get do %>
              <i class="material-icons left">map</i>Mapa
          <% end %>
        </li>
        <li>
          <%= link_to teams_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">people</i>Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">person</i>Membros
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to current_user, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">account_box</i>Ver perfil
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user), target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">edit</i>Editar perfil
          <% end %>
        </li>

        <% if can_perform_action? :read, UserRole %>
            <li class="divider"></li>

            <li id="list_permisions_path_entry" class="sidenav-entry">
              <%= link_to permissions_path, style: 'text-transform: none; padding-left: 0;',
                          class: 'btn-flat navbar-button', method: :get do %>
                  <i class="material-icons left">lock_outliner</i>Permissões
              <% end %>
            </li>
        <% end %>

        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :delete do %>
              <i class="material-icons left">power_settings_new</i>Logout
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div id="map"></div>

<div id="sidebar" class="sidebar sidebar-right collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <a id="profile-tab-icon" href="#profile" role="tab">
          <%= tag("img", class: 'profile_name', data: {name: current_user.first_name}) %>
        </a>
      </li>
      <li>
        <a id="teams-tab-icon" href="#teams" role="tab">
          <i class="material-icons extra-padding">group</i>
        </a>
      </li>
      <li>
        <a id="users-tab-icon" href="#users" role="tab">
          <i class="material-icons extra-padding">person_outline</i>
        </a>
      </li>
      <li>
        <!--<a id="history-tab-icon" class="badge1" data-badge="3" href="#history" role="tab">-->
        <a id="history-tab-icon" class="badge1" href="#history" role="tab">
          <i class="material-icons extra-padding">history</i>
        </a>
      </li>
      <li>
        <a id="search-tab-icon" href="#search" role="tab">
          <i class="material-icons extra-padding">search</i>
        </a>
      </li>
    </ul>

    <ul role="tablist">
      <li>
        <a id="about-tab-icon" href="#about_sidebar" role="tab">
          <i class="material-icons extra-padding">settings</i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header" style="font-weight: 300">Bem vindo <%= current_user.first_name %>!
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper white z-depth-1">
        <div class="white z-depth-1" style="margin-top: 10px; padding-top: 10px; padding-bottom: 10px;">
          <div class="row center valign-wrapper" style="margin-bottom: 0;">
            <div class="col l4 m12 s5 valign">
              <%= image_tag current_user.avatar.url(:small), class: 'circle', height: '128', width: '128' %>
            </div>

            <div class="col l8 m12 s7">
              <h5 style="font-weight: 300; margin-top: 10px; margin-bottom: 10px;">
                <%= link_to current_user.full_name, current_user, target: '_blank', :method => :get %>
              </h5>

              <div class="divider center-align" style="width: 70%; margin-left: 15%;"></div>

              <div style="margin-top: 5px;">
                <span><%= current_user.profile %></span>
              </div>

              <div>
                <span>Registado há <%= time_ago_in_words(current_user.created_at) %></span>
              </div>

              <div class="center" style="margin-top: 10px; margin-bottom: 10px;">
                <%= link_to destroy_user_session_path, method: :delete, class: 'red waves-effect waves-light btn',
                            style: 'margin-right: 2px; padding-left: 10px; padding-right: 10px;',
                            title: 'Encerrar sessão' do %>
                    <i class="material-icons">power_settings_new</i>
                <% end %>
                <%= link_to edit_user_path(current_user), method: :get, target: '_blank',
                            class: 'waves-effect waves-light btn white-btn', title: 'Editar o seu perfil',
                            style: 'margin-left: 2px; padding-left: 10px; padding-right: 10px;' do %>
                    <i class="material-icons">edit</i>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="white z-depth-1" style="margin-top: 10px; padding: 10px;">
          <h5>As minhas equipas</h5>
          <div class="divider"></div>
          <div class="center" style="margin-bottom: 10px;">
            <%= link_to "#!", id: 'remove-navbar', class: 'waves-effect waves-light btn white-btn' do %>
                Remover barra
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="teams">
      <h1 class="sidebar-header" style="font-weight: 300">Equipas
        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper">
        <div class="row valign-wrapper" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col l7 m7 s7" style="padding: 0;">
            <p class="center" style="font-weight: 300; margin: 0;">
              A mostrar as 15 equipas alteradas recentemente
            </p>
          </div>
          <div class="col l5 m5 s5" style="padding: 0;">
            <%= link_to teams_url, method: :get, target: '_blank', style: 'width: 100%; padding: 0 10px;',
                        class: 'right waves-effect waves-light btn valign white-btn' do %>
                Ver todas
            <% end %>
          </div>
        </div>

        <ul id="recent_teams_list" class="collapsible" data-collapsible="accordion" style="">
          <% @recently_changed_teams.each do |team| %>
              <li>
                <div class="collapsible-header" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="collapse_header_text">
                    <span><%= team.name %></span><br>
                    <span style="font-size: 12px;">
                      atualizada há <%= time_ago_in_words(team.updated_at) %>
                    </span>
                  </div>
                  <div class="collapse_header_link">
                    <%= link_to team, method: :get, target: '_blank', :data => {:position => 'left', :delay => '0',
                                                                                :tooltip => 'Ver mais detalhes'},
                                class: 'tooltipped edit-team-btn waves-effect waves-teal btn-flat' do %>
                        <i class="material-icons">more_vert</i>
                    <% end %>
                  </div>
                </div>

                <div class="collapsible-body">
                  <ul class="collection">
                    <% team.users.each do |member| %>

                        <li class="collection-item avatar team-list-item">
                          <% if member.id == team.leader_id %>
                              <!-- RIBBON PARA INDICAR O CHEFE DE EQUIPA -->
                              <div class="corner-ribbon top-right red shadow">Líder</div>
                          <% end %>

                          <%= image_tag member.avatar.url, class: 'circle' %>
                          <span class="title" style="font-weight: 300">
                              <%= member.full_name %>
                          </span>

                          <p><%= member.profile %></p>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>

        <div class="center" style="margin-bottom: 10px;">
          <a href="#!" class="scrollTop waves-effect waves-light btn white-btn">Voltar ao topo</a>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="users">
      <h1 class="sidebar-header" style="font-weight: 300">Utilizadores mais ativos
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div class="row valign-wrapper" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col l7 m7 s7" style="padding: 0;">
            <p class="center" style="font-weight: 300; margin: 0;">A mostrar os 15 utilizadores mais ativos</p>
          </div>
          <div class="col l5 m5 s5" style="padding: 0;">
            <%= link_to users_url, method: :get, target: '_blank', style: 'width: 100%; padding: 0 10px;',
                        class: 'right waves-effect waves-light btn valign white-btn' do %>
                Ver todos
            <% end %>
          </div>
        </div>

        <ul class="collection z-depth-1" style="">
          <% @most_active_users.each do |user| %>
              <li class="collection-item avatar">
                <%= image_tag user.avatar.url(:thumb), class: 'circle responsive-img' %>
                <span class="title" style="font-weight: 300">
                  <%= link_to user, method: :get, target: '_blank',
                              class: '' do %>
                      <%= user.first_name %> <%= user.last_name %>
                  <% end %>
                </span>

                <p style="margin-top: 5px;">
                  <span style="line-height: 17px;"><%= user.profile %></span>
                  <br>
                  <span style="line-height: 17px;">Este utilizador autenticou-se <%= user.sign_in_count %> vezes</span>
                </p>
              </li>
          <% end %>
        </ul>

        <div class="center" style="margin-bottom: 10px;">
          <a href="#!" class="scrollTop waves-effect waves-light btn white-btn">Voltar ao topo</a>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="history">
      <h1 class="sidebar-header" style="font-weight: 300">
        Histórico de eventos

        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div class="white z-depth-1" style="width: 100%; padding: 15px; margin-top: 10px; margin-bottom: 15px;">
          <p id="entries_div_info" style="margin: 0;" class="center">
            Limite de entradas do histórico: <strong><span id="entries_number"></span></strong><br>
            <span style="font-style: italic;">Este limite pode ser alterado nas definições</span>
          </p>
          <a id="clear_history_btn" style="margin-top: 10px; width: 100%; padding-left: 5px; padding-right: 5px;"
             class="waves-effect waves-light btn white-btn"
             onclick="clearHistoyEntries();">Limpar histórico</a>
        </div>
        <div id="timeline"></div>
      </div>
    </div>

    <div class="sidebar-pane" id="search">
      <h1 class="sidebar-header">Opções de pesquisa
        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
          <h6 style="font-weight: 400; margin-bottom: 2px;">Centrar mapa numa localização</h6>
          <span style="font-style: italic;">Escreva o nome de um local e pressione na tecla 'Enter'</span>
          <div style="height: 46px;">
            <div class="col l12 m12 s12" style="padding-left: 0; padding-right: 0;">
              <input id="geocode_location" placeholder="Insira um local" id="first_name" type="text" class="validate"
                     onkeyup="if (event.keyCode == 13)
                         geocodeLocation()">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 0; margin-bottom: 30px;">
          <h6 style="font-weight: 400; margin-bottom: 5px;">Filtrar geo-entidades por categoria</h6>
          <div style="height: 46px;">
            <div class="col l12 m12 s12" style="padding-left: 0; padding-right: 0;">
              <%= select_tag "filter_by_category", options_for_select(Category.options_for_select),
                             prompt: "- Qualquer categoria -",
                             class: 'browser-default', id: 'filter_geo_entities_by_category',
                             onchange: "toggleEntityVisibility('geo_entities');" %>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <h6 style="font-weight: 400; margin-bottom: 5px;">Opções de visibilidade</h6>
          <span style="font-style: italic;">Mediante o seu perfil atual algumas opções podem estar desativadas</span>
          <p>
            <input type="checkbox" class="filled-in" id="checkbox_toggle_own_teams" checked="checked"
                   onchange="filterByOwnTeams()"/>
            <label for="checkbox_toggle_own_teams">Mostrar apenas as minhas equipas e respetivos destaques</label>
          </p>

          <p style="margin-bottom: 5px; margin-top: 5px;">
          <!--<p style="margin-bottom: 5px;">-->
            <input type="checkbox" class="filled-in" id="checkbox_toggle_geo_entities" checked="checked"
                   onchange="toggleEntityVisibility('geo_entities')"/>
            <label for="checkbox_toggle_geo_entities">Mostrar geo-entidades</label>
          </p>
          <p style="margin-bottom: 5px; margin-top: 5px;">
            <input type="checkbox" class="filled-in" id="checkbox_toggle_users" checked="checked"
                   onchange="toggleEntityVisibility('users')"/>
            <label for="checkbox_toggle_users">Mostrar utilizadores</label>
          </p>
          <p style="margin-top: 5px;">
            <input type="checkbox" class="filled-in" id="checkbox_toggle_teams" checked="checked"
                   onchange="toggleEntityVisibility('teams')"/>
            <label for="checkbox_toggle_teams">Mostrar equipas</label>
          </p>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="about_sidebar">
      <h1 class="sidebar-header" style="font-weight: 300">Definições
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div>
          <div style="margin-top: 15px;">
            <input type="checkbox" class="filled-in" id="toggle-user-circle" checked="checked"
                   onchange="$(this).prop('checked') ? map.addLayer(user_centered_circle) :
                       map.removeLayer(user_centered_circle);"/>
            <label for="toggle-user-circle">Mostrar círculo centrado na sua posição atual</label>
          </div>
          <blockquote style="margin-top: 5px; font-size: 13px;">
            Apresenta ou esconde um círculo com raio de 500 metros centrado na posição atual do utilizador.
            Apenas as geo-entidades que se encontrem dentro deste círculo estarão visíveis.
          </blockquote>
        </div>

        <div class="divider" style="margin-left: 10%; width: 80%;"></div>

        <div>
          <div style="margin-top: 15px;">
            <input type="checkbox" class="filled-in" id="homepage-toggle-navbar" checked="checked"/>
            <label for="homepage-toggle-navbar">Mostrar barra de navegação</label>
          </div>
          <blockquote style="margin-top: 5px; font-size: 13px;">
            Controla a visibilidade da barra de navegação que se encontra no topo da página.
            Esta alteração apenas se aplica a esta página.
          </blockquote>
        </div>

        <div class="divider" style="margin-left: 10%; width: 80%;"></div>

        <div>
          <div style="margin-top: 15px;">
            <p class="range-field" style="width: 80%; margin-bottom: 0;">
              <span style="display: inline-block; color: #9e9e9e;">Nível máximo de zoom</span>
              <input type="range" id="range_max_zoom" min="1" max="20"/>
            </p>
          </div>
          <blockquote style="margin-top: 5px; font-size: 13px;">
            Altera o nível máximo de zoom aplicado quando se centra o mapa numa entidade. Varia entre 1 e 20, em que
            1 é o nível mínimo de zoom e 20 o máximo.
          </blockquote>
        </div>

        <div class="divider" style="margin-left: 10%; width: 80%;"></div>

        <div>
          <div style="margin-top: 15px;">
            <p class="range-field" style="width: 80%; margin-bottom: 0;">
              <span style="display: inline-block; color: #9e9e9e;">Limite de entradas no histórico</span>
              <input type="range" id="range_history_entry_max" min="10" max="50" step="5"/>
            </p>
          </div>
          <blockquote style="margin-top: 5px; font-size: 13px;">
            Controla o número máximo de entradas que o histórico pode conter num dado momento.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="location_div">-->
<!--<div id="location_symbol">-->
<!--<i class="material-icons">my_location</i>-->
<!--</div>-->
<!--<div id="curr_location">-->
<!--<div>-->
<!--<span class="truncate">Santa Eugénia, Alijó.</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!-- Modal Structure -->
<div id="confirm_entity_creation" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h5>Confirmar criação de entidade</h5>
  </div>

  <div class="modal-content">
    <div class="row">
      <div id="e_type_div" class="col s4">
        <span class="modal-element-title">Tipo</span>
        <br>
        <span id="e_type"></span>
      </div>
      <div hidden id="e_radius_div" class="col s6">
        <span class="modal-element-title">Raio (m)</span>
        <br>
        <span id="e_radius"></span>
      </div>
      <div hidden id="e_area_div" class="col s4">
        <span class="modal-element-title">Área (km<sup>2</sup>)</span>
        <br>
        <span id="e_area"></span>
      </div>
      <div hidden id="e_length_div" class="col s4">
        <span class="modal-element-title">Comprimento (km)</span>
        <br>
        <span id="e_length"></span>
      </div>
      <div hidden id="e_num_points_div" class="col s4">
        <span class="modal-element-title">Nº pontos</span>
        <br>
        <span id="e_num_points"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="e_name" value="" type="text" class="validate" autofocus>
        <label for="e_name">Nome da entidade</label>
      </div>
    </div>
    <div class="row" id="entity_description_div">
      <div class="input-field col s12">
        <textarea id="e_description" class="materialize-textarea" rows="10"></textarea>
        <label for="e_description">Descrição</label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 45px;">
      <div class="input-field col s12">
        <%= label_tag :select_category, "Categoria a associar", style: "top: -20px;" %>
        <%= select_tag :select_category, options_for_select(Category.options_for_select),
                       prompt: "- Escolha uma categoria -",
                       class: '', id: 'select_category_geo_entity' %>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0;">
      <div id="select_team_ids_div" class="input-field col s12">
        <select id="select_team_ids" class="browser-default" multiple required>
        </select>
        <label for="select_team_id">
          Associar a uma ou mais equipas
          <br>
          <span style="font-style: italic">
            NOTA: no desktop mantenha o Control premido para marcar mais do que uma entrada
          </span>
        </label>
        <div class="row" style="margin-top: 10px; margin-bottom: 0;">
          <div id="select_all_teams" class="col s12 m12 l6">
            <a style="width: 100%; padding-left: 5px; padding-right: 5px;"
               class="waves-effect waves btn black-text white">Sel. todas</a>
          </div>
          <div id="select_no_teams" class="col s12 m12 l6" style="padding-right: 0;">
            <a style="width: 100%; padding-left: 5px; padding-right: 5px;"
               class="waves-effect waves btn black-text white">Sel. nenhuma</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <a id="submit_new_geo_entity" href="insertGeoEntity();"
       class="waves-effect waves-green btn-flat">Confirmar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal_entity_coordinates" class="modal bottom-sheet">
  <div class="modal-content">
    <h5 style="display: inline;">Coordenadas </h5>
    <span id="modal_entity_type"></span>, <span id="modal_num_points">10 pontos</span>

    <pre id="modal_coords" style="white-space: pre-wrap"></pre>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>