<%# encoding: utf-8 %>

<div id="frontpage-navbar" class="navbar-fixed">
  <nav class="indigo darken-4" role="navigation" style="box-shadow: none;">
    <div class="nav-wrapper">
      <ul class="left navbar-buttons">
        <li>
          <%= link_to 'http://www.prociv.pt/Pages/default.aspx', target: '_blank', id: 'navbar-icon-div',
                      style: 'font-size: 1.2rem; font-weight: 100; margin-top: 0;',
                      class: 'navbar-padding-top brand-logo left', method: :get do %>
              <!--<i id="navbar-map-btn" class="material-icons left">map</i>Mapa-->
              <%= image_tag 'prociv_logotipo.gif', class: 'circle left', height: '42', width: '42' %>
              <span>PROCIV</span>
          <% end %>
          </a>
        </li>
      </ul>
      <a href="#" id="hamburguer-homepage" data-activates="mobile-demo" class="right button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="navbar-buttons right hide-on-med-and-down">
        <li>
          <%= link_to root_path, target: '_blank', class: 'navbar-button active', method: :get do %>
              Mapa
          <% end %>
        </li>
        <li>
          <%= link_to teams_path, class: 'navbar-button', target: '_blank', method: :get do %>
              Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: 'navbar-button', target: '_blank', method: :get do %>
              Membros
          <% end %>
        </li>
        <li>
          <%= link_to "#!", id: 'navbar-profile-div', class: 'dropdown-button', data: {activates: "dropdown-profile"},
                      style: 'height: 64px;' do %>
              <%= image_tag current_user.avatar.url(:thumb), class: 'circle left',
                            style: 'margin-top: 15px; margin-right: 10px;', height: '32', width: '32' %>
              <%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i>
          <% end %>
        </li>
      </ul>

      <ul id="dropdown-profile" class="dropdown-content">
        <li>
          <%= link_to current_user, target: '_blank', method: :get do %>
              Ver perfil
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user), target: '_blank', method: :get do %>
              Editar perfil
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, target: '_blank', method: :delete do %>
              Logout
          <% end %>
        </li>
      </ul>

      <!-- barra lateral ativada em ecras mais pequenos -->
      <ul class="side-nav" id="mobile-demo">
        <li style="padding: 0;">
          <div id="profile-sidenav" style="height: 120px;">
            <div style="padding-top: 56px; height: 120px; padding-left: 15px; padding-right: 15px;" class="valign-wrapper">
              <%= image_tag current_user.avatar.url(:thumb), class: 'circle valign', style: 'margin-top: 0;',
                            height: '32', width: '32' %>
              <%= link_to current_user, class: 'valign white-text', style: ' margin-bottom: 28px; height: 32px;',
                          target: '_blank', method: :get do %>
                  <%= current_user.full_name %>
              <% end %>
            </div>
          </div>
        </li>
        <li>
          <%= link_to root_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button active', method: :get do %>
              <i class="material-icons left">map</i>Mapa
          <% end %>
        </li>
        <li>
          <%= link_to teams_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">people</i>Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">person</i>Membros
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to current_user, target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">account_box</i>Ver perfil
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user), target: '_blank', style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :get do %>
              <i class="material-icons left">edit</i>Editar perfil
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, style: 'text-transform: none; padding-left: 0;',
                      class: 'btn-flat navbar-button', method: :delete do %>
              <i class="material-icons left">power_settings_new</i>Logout
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div id="map"></div>



<!-- TODO: MARGIN-BOTTOM A 150PX OU MAIS PEQUENO E MUDAR CONTROLOS DE ZOOM DE LUGAR!? -->
<div id="sidebar" class="sidebar sidebar-right collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <a id="profile-tab-icon" href="#profile" role="tab">
          <%= tag("img", class: 'profile_name', data: {name: current_user.first_name}) %>
        </a>
      </li>
      <li>
        <a id="teams-tab-icon" href="#teams" role="tab">
          <i class="material-icons extra-padding">group</i>
        </a>
      </li>
      <li>
        <a id="users-tab-icon" href="#users" role="tab">
          <i class="material-icons extra-padding">person_outline</i>
        </a>
      </li>
      <li>
        <!--<a id="warnings-tab-icon" class="badge1" data-badge="3" href="#warnings" role="tab">-->
        <a id="history-tab-icon" class="badge1" href="#history" role="tab">
          <i class="material-icons extra-padding">history</i>
        </a>
      </li>
      <li>
        <a id="search-tab-icon" href="#search" role="tab">
          <i class="material-icons extra-padding">search</i>
        </a>
      </li>
    </ul>

    <ul role="tablist">
      <li>
        <a id="about-tab-icon" href="#about_sidebar" role="tab">
          <i class="material-icons extra-padding">settings</i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="profile">
      <h1 class="sidebar-header" style="font-weight: 300">Bem vindo <%= current_user.first_name %>!
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper white z-depth-1" style="left: 0;">
        <div class="white z-depth-1" style="margin: 10px; padding-top: 10px; padding-bottom: 10px;">
          <div class="row center" style="">
            <div class="col l4 m12 s5">
              <%= image_tag current_user.avatar.url(:small), class: 'circle', height: '100', width: '100' %>
            </div>

            <div class="col l8 m12 s7">
              <h5 style="font-weight: 300;">
                <%= link_to current_user.full_name, current_user, target: '_blank', :method => :get %>
              </h5>

              <div class="divider center-align" style="width: 70%; margin-left: 15%;"></div>

              <div>
                <span><%= current_user.profile %></span>
              </div>

              <div>
                <span>Registado há <%= time_ago_in_words(current_user.created_at) %></span>
              </div>
            </div>
          </div>

          <!-- row a apresentar em ecras grandes!!! -->
          <div class="row hide-on-med-and-down" style="margin-bottom: 0px;">
            <div class="col l6" style="padding-right: 3px;">
              <%= link_to destroy_user_session_path, method: :delete, class: 'right red waves-effect waves-light btn',
                          style: 'padding-left: 10px; padding-right: 10px;' do %>
                  <i class="material-icons left">power_settings_new</i>Logout
              <% end %>
            </div>

            <div class="col l6" style="padding-left: 3px;">
              <%= link_to edit_user_path(current_user), method: :get, target: '_blank',
                          class: 'left waves-effect waves-light btn',
                          style: 'padding-left: 10px; padding-right: 10px;' do %>
                  <i class="material-icons left">edit</i>Editar
              <% end %>
            </div>
          </div>

          <!-- row a apresentar em ecras medios e pequenos!!! -->
          <div class="row center hide-on-large-only" style="margin-bottom: 0px;">
            <div class="col m6 s6" style="padding-right: 3px;">
              <%= link_to destroy_user_session_path, method: :get, class: 'right red waves-effect waves-light btn',
                          style: 'padding-left: 10px; padding-right: 10px;' do %>
                  <i class="material-icons">power_settings_new</i>
              <% end %>
            </div>

            <div class="col m6 s6" style="padding-left: 3px;">
              <%= link_to edit_user_path(current_user), method: :get, class: 'left waves-effect waves-light btn',
                          style: 'padding-left: 10px; padding-right: 10px;' do %>
                  <i class="material-icons">edit</i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="white z-depth-1" style="margin: 10px; padding: 10px;">
          <h5>As minhas equipas</h5>
          <div class="divider"></div>
          <div class="center" style="margin-bottom: 10px;">
            <%= link_to "#!", id: 'remove-navbar', class: 'waves-effect waves-light btn' do %>
                Remover barra
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="teams">
      <h1 class="sidebar-header" style="font-weight: 300">Equipas
        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper">
        <div class="row valign-wrapper" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col l7 m7 s7" style="padding: 0;">
            <p class="center" style="font-weight: 300; margin: 0;">A mostrar as 15 equipas alteradas recentemente</p>
          </div>
          <div class="col l5 m5 s5">
            <%= link_to teams_url, method: :get, target: '_blank', style: 'width: 100%; padding: 0 10px;',
                        class: 'right waves-effect waves-light btn valign' do %>
                Ver todas
            <% end %>
          </div>
        </div>

        <ul id="recent_teams_list" class="collapsible" data-collapsible="accordion" style="margin-right: 10px;">
          <% @recently_changed_teams.each do |team| %>
              <li>
                <div class="collapsible-header" style="padding-top: 5px; padding-bottom: 5px;">
                  <div class="collapse_header_text">
                    <span><%= team.name %></span><br>
                    <span style="font-size: 12px;">
                      atualizada há <%= time_ago_in_words(team.updated_at) %>
                    </span>
                  </div>
                  <div class="collapse_header_link">
                    <%= link_to team, method: :get, target: '_blank', :data => {:position => 'left', :delay => '15',
                                                                                :tooltip => 'Ver mais detalhes'},
                                class: 'tooltipped edit-team-btn waves-effect waves-teal btn-flat' do %>
                        <i class="material-icons">more_vert</i>
                    <% end %>
                  </div>
                </div>

                <div class="collapsible-body">
                  <ul class="collection">
                    <% TeamMember.where(team_id: team.id).order(is_leader: :desc).each do |t_member| %>
                        <% @t_user = User.find_by(id: t_member.user_id) %>

                        <li class="collection-item avatar team-list-item">
                          <% if (t_member.is_leader) %>
                              <!-- RIBBON PARA INDICAR O CHEFE DE EQUIPA -->
                              <div class="corner-ribbon top-right red shadow">Líder</div>
                          <% end %>

                          <%= image_tag @t_user.avatar.url, class: 'circle' %>
                          <span class="title" style="font-weight: 300">
                              <%= @t_user.full_name %>
                          </span>

                          <p><%= @t_user.profile %></p>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </li>
          <% end %>
        </ul>
        <div class="center" style="margin-bottom: 10px;">
          <%= link_to teams_url, method: :get, target: '_blank', class: 'waves-effect waves-light btn' do %>
              Ver todas
          <% end %>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="users">
      <h1 class="sidebar-header" style="font-weight: 300">Utilizadores mais ativos
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div class="row valign-wrapper" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col l7 m7 s7" style="padding: 0;">
            <p class="center" style="font-weight: 300; margin: 0;">A mostrar os 15 utilizadores mais ativos</p>
          </div>
          <div class="col l5 m5 s5">
            <%= link_to users_url, method: :get, target: '_blank', style: 'width: 100%; padding: 0 10px;',
                        class: 'right waves-effect waves-light btn valign' do %>
                Ver todos
            <% end %>
          </div>
        </div>

        <ul class="collection" style="margin-bottom: 7.5px;">
          <% @most_active_users.each do |user| %>
              <li class="collection-item avatar">
                <%= image_tag user.avatar.url(:thumb), class: 'circle responsive-img' %>
                <span class="title" style="font-weight: 300">
                  <%= link_to user, method: :get, target: '_blank',
                              class: '' do %>
                      <%= user.first_name %> <%= user.last_name %>
                  <% end %>
                </span>

                <p><%= user.email %></p>
              </li>
          <% end %>
        </ul>

        <div class="center" style="margin-bottom: 10px;">
          <%= link_to users_url, method: :get, target: '_blank', class: 'waves-effect waves-light btn' do %>
              Ver todos
          <% end %>
        </div>
      </div>
    </div>

    <div class="sidebar-pane" id="history">
      <h1 class="sidebar-header" style="font-weight: 300">
        Histórico de eventos

        <div class="sidebar-close">
          <i class="fa fa-caret-right"></i>
        </div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div id="timeline">
          <div class="timeline-item">
            <div class="timeline-icon valign-wrapper">
              <i class="timeline-custom-icon material-icons md-24">add</i>
            </div>
            <div class="timeline-content z-depth-1">
              <h6 style="font-size: large;">Equipa atualizada<i class="material-icons right">my_location</i></h6>

              <div style="margin-top: 5px;">
                <div>
                  <span style="font-style: italic; font-size: 12px;">Há 15 segundos</span>
                </div>
                <div>
                  <p style="margin: 0;">A equipa número 10 foi atualizada</p>
                </div>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon valign-wrapper">
              <i class="timeline-custom-icon material-icons md-24">edit</i>
            </div>
            <div class="timeline-content z-depth-1">
              <h6 style="font-size: large;">Geo-entidade criada<i class="material-icons right">my_location</i></h6>

              <div style="margin-top: 5px;">
                <div>
                  <span style="font-style: italic; font-size: 12px;">Há 2 minutos e 28 segundos</span>
                </div>
                <div>
                  <p style="margin: 0;">A geo-entidade número 5 foi adicionada ao mapa.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon valign-wrapper">
              <i class="timeline-custom-icon material-icons md-24">delete</i>
            </div>
            <div class="timeline-content z-depth-1">
              <h6 style="font-size: large;">Equipa removida</h6>

              <div style="margin-top: 5px;">
                <div>
                  <span style="font-style: italic; font-size: 12px;">Há 10 minutos e 15 segundos</span>
                </div>
                <div>
                  <p style="margin: 0;">A equipa número 1 foi removida do sistema.</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--<div class="card green">-->
        <!--<div class="card-content card-reduced-padding-top">-->
        <!--<h5 class="black-text" style="font-weight: 300">Situação regularizada</h5>-->
        <!--<span><i class="material-icons md-18">schedule</i> 20 Out, 12h - infinito</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">map</i> Todo o território nacional</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="card yellow">-->
        <!--<div class="card-content">-->
        <!--<h5 class="black-text" style="font-weight: 300">Agitação Marítima</h5>-->
        <!--<span><i class="material-icons md-18">schedule</i> 21 Set, 17h - 25 Set, 12h</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">map</i> Setúbal, Lisboa, Santarém</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">comment</i> São esperadas ondas com cerca de 7 metros de altura.</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="card red">-->
        <!--<div class="card-content">-->
        <!--<h5 class="black-text" style="font-weight: 300">Temperaturas Elevadas</h5>-->
        <!--<span><i class="material-icons md-18">schedule</i> 25 Set, 12h - 30 Set, 12h</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">map</i> Vila Real, Viseu, Guarda, Portalegre, Beja, Setúbal</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">comment</i> Temperaturas superiores a 40ºC.</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="card orange">-->
        <!--<div class="card-content">-->
        <!--<h5 class="black-text" style="font-weight: 300">Vento Forte</h5>-->
        <!--<span><i class="material-icons md-18">schedule</i> 30 Set, 12h - 20 Out, 12h</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">map</i> Évora, Faro, Beja</span>-->
        <!--<br>-->
        <!--<span><i class="material-icons md-18">comment</i> Vai tar uma ventania dos diabos, é melhor um gajo ter cuidado.</span>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>

    <div class="sidebar-pane" id="search">
      <h1 class="sidebar-header">Teste Localização
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <p class="center" style="font-weight: 300;">UPDATES DA LOCALIZAÇÃO ATUAL!</p>
        <ul id="current_position_list" class="collection" style="margin-bottom: 7.5px;">

        </ul>
      </div>
    </div>

    <div class="sidebar-pane" id="about_sidebar">
      <h1 class="sidebar-header" style="font-weight: 300">Definições
        <div class="sidebar-close"><i class="fa fa-caret-right"></i></div>
      </h1>

      <div class="list_wrapper" style="padding-right: 10px;">
        <div>
          <div style="margin-top: 15px;">
            <input type="checkbox" class="filled-in" id="homepage-toggle-navbar" checked="checked"/>
            <label for="homepage-toggle-navbar">Mostrar barra de navegação</label>
          </div>
          <blockquote style="margin-top: 5px;">
            Ao esconder a barra de navegação superior, a barra lateral passa a apresentar mais 2 abas,
            que contém a listagem das equipas e dos utilizadores.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="location_div">-->
<!--<div id="location_symbol">-->
<!--<i class="material-icons">my_location</i>-->
<!--</div>-->
<!--<div id="curr_location">-->
<!--<div>-->
<!--<span class="truncate">Santa Eugénia, Alijó.</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!-- Modal Structure -->
<div id="confirm_entity_creation" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h5>Confirmar criação de entidade</h5>
  </div>

  <div class="modal-content">
    <div class="row">
      <div id="e_type_div" class="col s4">
        <span class="modal-element-title">Tipo</span>
        <br>
        <span id="e_type"></span>
      </div>
      <div hidden id="e_radius_div" class="col s6">
        <span class="modal-element-title">Raio (m)</span>
        <br>
        <span id="e_radius"></span>
      </div>
      <div hidden id="e_area_div" class="col s4">
        <span class="modal-element-title">Área (km<sup>2</sup>)</span>
        <br>
        <span id="e_area"></span>
      </div>
      <div hidden id="e_length_div" class="col s4">
        <span class="modal-element-title">Comprimento (km)</span>
        <br>
        <span id="e_length"></span>
      </div>
      <div hidden id="e_num_points_div" class="col s4">
        <span class="modal-element-title">Nº pontos</span>
        <br>
        <span id="e_num_points"></span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="e_name" value="" type="text" class="validate" autofocus>
        <label for="e_name">Nome da entidade</label>
      </div>
    </div>
    <div class="row" id="entity_description_div">
      <div class="input-field col s12">
        <textarea id="e_description" class="materialize-textarea"></textarea>
        <label for="e_description">Descrição</label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0;">

      <div id="select_team_ids_div" class="input-field col s12">
        <select id="select_team_ids" class="browser-default" multiple>
        </select>
        <label style="top: 0;" for="select_team_id">Associar a geo-entidade a uma ou mais equipas</label>
        <div class="row" style="margin-top: 10px; margin-bottom: 0;">
          <div id="select_all_teams" class="col s12 m12 l6">
            <a style="width: 100%; padding-left: 5px; padding-right: 5px;"
               class="waves-effect waves-light btn">Sel. todas</a>
          </div>
          <div id="select_no_teams" class="col s12 m12 l6" style="padding-right: 0;">
            <a style="width: 100%; padding-left: 5px; padding-right: 5px;"
               class="waves-effect waves-light btn">Sel. nenhuma</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <a id="submit_new_geo_entity" href="javascript:insertGeoEntity();"
       class="modal-action modal-close waves-effect waves-green btn-flat">Confirmar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal_entity_coordinates" class="modal bottom-sheet">
  <div class="modal-content">
    <h5 style="display: inline;">Coordenadas </h5>
    <span id="modal_entity_type"></span>, <span id="modal_num_points">10 pontos</span>

    <pre id="modal_coords" style="white-space: pre-wrap"></pre>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Dispensar</a>
  </div>
</div>