<%# encoding: utf-8 %>

<% content_for :title, "Registo :: PROCIV Portugal" %>
<% content_for :devise_links, (render "devise/shared/links") %>
<% content_for :page_purpose, "Novo Perfil" %>
<% content_for :guide_message, "Já tem conta? " %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <div class="input-field col s12 m6 l6">
      <!--<i class="material-icons prefix">account_circle</i>-->
      <%= f.label "Primeiro Nome" %>
      <%= f.text_field :first_name, autofocus: true, required: true %>
    </div>

    <div class="input-field col s12 m6 l6">
      <!--<i class="material-icons prefix">account_circle</i>-->
      <%= f.label "Último Nome" %>
      <%= f.text_field :last_name, required: true %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Endereço de email" %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Contacto telefónico" %>
      <%= f.text_field :phone_number, class: 'numeric', maxlength: 9, required: true %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Password" %>
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Repita password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </div>

    <div class="file-field input-field col s12 m12 l12">
      <div class="btn">
        <span>Ficheiro</span>
        <%= f.file_field :avatar, class: 'file' %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Imagem de perfil">
      </div>
    </div>

    <!-- dois campos escondidos pre-preenchidos: um para o perfil, outro para a localização -->
    <%= f.hidden_field :profile, :value => Role::BASICO %>
    <%= f.hidden_field :latlon %>

    <div class="actions col s12 m12 l12 center-align" style="margin-top: 20px;">
      <%= f.button 'Registar!', class: "btn waves-effect waves-light", style: 'width: 100%;' %>
    </div>

<% end %>