<%# encoding: utf-8 %>

<% content_for :title, "Registo :: LiveTeams Portugal" %>
<% content_for :devise_links, (render "devise/shared/links") %>
<% content_for :page_purpose, "Novo Perfil" %>
<% content_for :guide_message, "Já tem conta? " %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <div class="input-field col s12 m6 l6">
      <!--<i class="material-icons prefix">account_circle</i>-->
      <%= f.label "Primeiro Nome" %>
      <%= f.text_field :first_name, autofocus: true, placeholder: " ", required: true, class: "validate" %>
    </div>

    <div class="input-field col s12 m6 l6">
      <!--<i class="material-icons prefix">account_circle</i>-->
      <%= f.label "Último Nome" %>
      <%= f.text_field :last_name, required: true, placeholder: " ", class: "validate" %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Endereço de email" %>
      <%= f.email_field :email, required: true, placeholder: " ", class: "validate" %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Contacto telefónico", class: "active" %>
      <%= f.text_field :phone_number, class: 'numeric validate', maxlength: 9, length: 9,
                       placeholder: " ", required: true %>
    </div>

    <div class="col s12 m12 l12" style="margin-bottom: 5px;">
      <p style="font-weight: 300; font-style: italic; margin-top: 20px;">
        <b>NOTA</b>: a password tem que conter pelo menos <b>8</b> caracteres</p>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Password", class: "active" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: " ", required: true, class: "validate" %>
    </div>

    <div class="input-field col s12 m6 l6">
      <%= f.label "Repita password" %>
      <%= f.password_field :password_confirmation, placeholder: " ", autocomplete: "off",
                           required: true, class: "validate" %>
    </div>

    <div class="file-field input-field col s12 m12 l12">
      <div class="btn white-btn">
        <span>Ficheiro</span>
        <%= f.file_field :avatar, class: 'file validate' %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Imagem de perfil">
      </div>
    </div>

    <!-- dois campos escondidos pre-preenchidos: um para o perfil, outro para a localização -->
    <%= f.hidden_field :profile, :value => Role::BASICO %>
    <%= f.hidden_field :latlon %>

    <div class="actions col s12 m12 l12 center-align" style="margin-top: 20px;">
      <%= f.button 'Registar!', class: "btn green waves-effect waves-light", style: 'width: 100%;' %>
    </div>

<% end %>