<p id="notice"><%= notice %></p>

<h1>Listing Geo Entities</h1>

<div id="all_geo_entities">
  <%- @geo_entities.each do |geo_entity| %>
      <p>
        <%= geo_entity.name %>
        <%= geo_entity.latlon %>
        <%= geo_entity.user_id %>
        <%= geo_entity.description %>
      </p>
  <%- end %>
</div>

<br>

<%= link_to 'New Geo entity', new_geo_entity_path %>
