<p id="notice"><%= notice %></p>

<h1>Listing Geo Entities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latlon</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geo_entities.each do |geo_entity| %>
      <tr>
        <td><%= geo_entity.name %></td>
        <td><%= geo_entity.latlon %></td>
        <td><%= geo_entity.user_id %></td>
        <td><%= geo_entity.description %></td>
        <td><%= link_to 'Show', geo_entity %></td>
        <td><%= link_to 'Edit', edit_geo_entity_path(geo_entity) %></td>
        <td><%= link_to 'Destroy', geo_entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geo entity', new_geo_entity_path %>
