<%# encoding: utf-8 %>

<% @show_search_stuff = false %>
<% content_for :title, "Editar utilizador :: PROCIV Portugal" %>

<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button active', target: '_blank', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin-top: 20px;">
  <%= form_for(@user) do |f| %>
      <div class="col l10 m10 s12 z-depth-1 white">
        <div id="basic-info" class="scrollspy col l12 s12" style="padding: 0;">
          <div class="section">
            <h5 style="margin-left: 10px;">Dados do <%= @user.first_name %></h5>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.label "Primeiro Nome" %>
            <%= f.text_field :first_name, autofocus: true, required: true %>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.label "Último Nome" %>
            <%= f.text_field :last_name, required: true %>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.label "Endereço de email", class: "fixed-position" %>
            <%= f.text_field :email, required: true %>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.label "Contacto telefónico" %>
            <%= f.text_field :phone_number, class: 'numeric', maxlength: 9, required: true %>
          </div>
        </div>

        <!-- apenas os admins e os gestores podem alterar o seu proprio perfil -->
        <% if current_user.profile == User::ADMINISTRADOR || current_user.profile == User::GESTOR %>
            <div id="profile" class="scrollspy col l12 s12" style="margin-top: 20px; padding: 0;">
              <div class="section">
                <h5 style="margin-left: 10px; display: inline;">Alterar perfil do utilizador</h5>
              </div>

              <div class="input-field col s12 m12 l12">
                <%= select_tag "user[profile]", options_for_select(User::PROFILES, :selected => @user.profile) %>
              </div>
            </div>
        <% end %>

        <div id="optional" class="scrollspy col l12 s12" style="margin-top: 20px; padding: 0;">
          <div class="section">
            <h5 style="margin-left: 10px; display: inline;">Avatar/palavra-passe </h5>
            <span>(deixe em branco se não quiser alterar)</span>
          </div>

          <div class="input-field col s12 m12 l6">
            <%= f.label "Nova palavra-passe (opcional)", class: "fixed-position" %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="input-field col s12 m12 l6">
            <%= f.label "Confirme a palavra-passe", class: "fixed-position" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="file-field input-field col s12 m12 l12">
            <div class="btn">
              <span>Ficheiro</span>
              <%= f.file_field :avatar, class: 'file' %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Imagem de perfil">
            </div>
          </div>
        </div>

        <div class="col s12 m12 l12 center-align" style="margin-top: 25px; margin-bottom: 15px;">
          <div class="actions">
            <%= f.submit 'Atualizar', id: 'update_user_profile', class: "btn waves-effect waves-light",
                         style: "width: 100%;" %>
          </div>
        </div>
      </div>

      <div id="scroll" class="col l2 m2 hide-on-small-only right-align">
        <div class="pushpin">
          <ul id="user-edit-pushpin" class="table-of-contents">
            <li><a href="#basic-info">Dados básicos</a></li>
            <% if current_user.profile == User::ADMINISTRADOR || current_user.profile == User::GESTOR %>
                <li><a href="#profile">Alterar papel</a></li>
            <% end %>
            <li><a href="#optional">Foto de perfil</a></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>