<%# encoding: utf-8 %>

<% content_for :title, "Editar '" + @user.full_name.to_s + "' :: LiveTeams Portugal" %>
<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', method: :get do %>
          Mapa
      <% end %>
    </li>
    <% if can_perform_action? :read, UserRole %>
        <li>
          <%= link_to permissions_path, class: 'navbar-button', method: :get do %>
              Permissões
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to teams_path, class: 'navbar-button', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button active', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin: 20px 0 20px 0;">
  <%= form_for(@user) do |f| %>
      <div class="col l12 m12 s12 z-depth-1 white">

        <h3 style="padding-left: 8px; margin-top: 0; padding-top: 25px; margin-bottom: 25px; font-weight: 200;">
          <% if @user.id == current_user.id %>
              Editar <span style="font-weight: 300;">o seu próprio perfil</span>
          <% else %>
              Editar o perfil de <span style="font-weight: 300;"><%= @user.full_name %></span>
          <% end %>
        </h3>

        <div class="col l12 s12" style="padding: 0;">
          <div class="section">
            <h5 style="margin-left: 10px;">Dados do <%= @user.first_name %></h5>
          </div>

          <div class="input-field col s12 m6 l6" style="margin-bottom: 10px;">
            <%= f.label "Primeiro Nome" %>
            <%= f.text_field :first_name, autofocus: true, required: true %>
          </div>

          <div class="input-field col s12 m6 l6" style="margin-bottom: 10px;">
            <%= f.label "Último Nome" %>
            <%= f.text_field :last_name, required: true %>
          </div>

          <div class="input-field col s12 m6 l6" style="margin-bottom: 10px;">
            <%= f.label "Endereço de email", class: "fixed-position" %>
            <%= f.text_field :email, required: true %>
          </div>

          <div class="input-field col s12 m6 l6" style="margin-bottom: 10px;">
            <%= f.label "Contacto telefónico" %>
            <%= f.text_field :phone_number, class: 'numeric', maxlength: 9, required: true %>
          </div>
        </div>

        <!-- apenas os admins e os gestores podem alterar o seu proprio perfil -->
        <% if current_user.profile == Role::ADMINISTRADOR || current_user.profile == Role::GESTOR %>
            <div class="col l12 s12" style="margin-top: 10px; padding: 0;">
              <div class="section">
                <h5 style="margin-left: 10px; display: inline;">Alterar perfil do utilizador</h5>
              </div>

              <div class="input-field col s12 m12 l12">
                <%= select_tag "user[profile]", options_for_select(User::BASIC_PROFILES, :selected => @user.profile) %>
              </div>
            </div>
        <% end %>

        <% if @user.id == current_user.id %>
            <div class="col l12 s12" style="margin-top: 20px; margin-bottom: 20px; padding: 0;">
              <div class="section">
                <h5 style="margin-left: 10px; display: inline;">Palavra-passe </h5>
                <span>(deixe em branco se não quiser alterar)</span>
              </div>

              <div class="input-field col s12 m12 l6">
                <%= f.label "Nova palavra-passe (opcional)", class: "fixed-position" %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="input-field col s12 m12 l6">
                <%= f.label "Confirme a palavra-passe", class: "fixed-position" %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
            </div>
        <% end %>

        <div class="col l12 s12" style="margin-top: 0; padding: 0; margin-bottom: 20px;">
          <div class="section">
            <h5 style="margin-left: 10px; display: inline;">Foto de perfil</h5>
          </div>

          <div class="file-field input-field col s12 m12 l12">
            <div class="btn white-btn">
              <span>Ficheiro</span>
              <%= f.file_field :avatar, class: 'file' %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Imagem de perfil">
            </div>
          </div>
        </div>

        <div class="col s12 m12 l12 center-align" style="margin-top: 10px; margin-bottom: 15px;">
          <div class="actions">
            <%= f.submit 'Atualizar', id: 'update_user_profile', class: "btn waves-effect waves-light green",
                         style: "width: 100%;" %>
          </div>
        </div>
      </div>
  <% end %>
</div>