<%# encoding: utf-8 %>

<% @show_search_stuff = true %>

<% content_for :title, "Utilizadores :: GestãoEmergência" %>

<% content_for :search_stuff do %>
    <div class="row white-text indigo darken-4" id="search" style="display: none; position: fixed; width: 100%; z-index: 9999;">
      <div class="container">
        <input id="search-bar" class="form-control white-text" type="text" name="q"
               placeholder="Comece a escrever o nome do utilizador...">
      </div>
    </div>
<% end %>


<!--<ul class="pagination center">-->
  <!--<li class="waves-effect"><a href="#!">A-D</a></li>-->
  <!--<li class="waves-effect"><a href="#!">E-G</a></li>-->
  <!--<li class="waves-effect"><a href="#!">H-K</a></li>-->
  <!--<li class="waves-effect"><a href="#!">L-O</a></li>-->
  <!--<li class="waves-effect"><a href="#!">P-S</a></li>-->
  <!--<li class="waves-effect"><a href="#!">T-X</a></li>-->
  <!--<li class="waves-effect"><a href="#!">W-Z</a></li>-->

  <!--<li class="waves-effect"><a href="#!">A</a></li>-->
  <!--<li class="active"><a href="#!">B</a></li>-->
  <!--<li class="waves-effect"><a href="#!">C</a></li>-->
  <!--<li class="active"><a href="#!">D</a></li>-->
  <!--<li class="waves-effect"><a href="#!">E</a></li>-->
  <!--<li class="waves-effect"><a href="#!">F</a></li>-->
  <!--<li class="waves-effect"><a href="#!">G</a></li>-->
  <!--<li class="waves-effect"><a href="#!">H</a></li>-->
  <!--<li class="waves-effect"><a href="#!">I</a></li>-->
  <!--<li class="waves-effect"><a href="#!">J</a></li>-->
  <!--<li class="waves-effect"><a href="#!">K</a></li>-->
  <!--<li class="waves-effect"><a href="#!">L</a></li>-->
  <!--<li class="waves-effect"><a href="#!">M</a></li>-->
  <!--<li class="waves-effect"><a href="#!">N</a></li>-->
  <!--<li class="waves-effect"><a href="#!">O</a></li>-->
  <!--<li class="waves-effect"><a href="#!">P</a></li>-->
  <!--<li class="waves-effect"><a href="#!">Q</a></li>-->
  <!--<li class="waves-effect"><a href="#!">R</a></li>-->
  <!--<li class="waves-effect"><a href="#!">S</a></li>-->
  <!--<li class="waves-effect"><a href="#!">T</a></li>-->
  <!--<li class="waves-effect"><a href="#!">U</a></li>-->
  <!--<li class="waves-effect"><a href="#!">V</a></li>-->
  <!--<li class="waves-effect"><a href="#!">W</a></li>-->
  <!--<li class="waves-effect"><a href="#!">X</a></li>-->
  <!--<li class="waves-effect"><a href="#!">Y</a></li>-->
  <!--<li class="waves-effect"><a href="#!">Z</a></li>-->
<!--</ul>-->



<!-- CENA DO ALFABETO, FICA PARA MAIS TARDE! -->
<!--<div class="center-btn">-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">A</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">B</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">C</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">D</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">E</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">F</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">G</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">H</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">I</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">J</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">K</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">L</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">M</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">N</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">O</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">P</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Q</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">R</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">S</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">T</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">U</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">V</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">W</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">X</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Y</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Z</a>-->
<!--</div>-->

<div class="row" style="margin-top: 10px;">
  <% @users.each do |user| %>

      <div class="user-card col l3 m4 s6">
        <div class="card small hoverable">
          <div class="card-image">
            <%= image_tag user.avatar.url(:small) %>
          </div>
          <div class="card-content" style="padding-top: 10px;">
            <span class="card-title grey-text text-darken-4 truncate">
              <%= user.first_name %> <%= user.last_name %>
            </span>

            <p class="truncate"><%= user.profile %></p>
          </div>
          <div class="card-action">
            <%= link_to "Ver perfil", user_path(user), method: :get %>
          </div>
        </div>
      </div>

  <% end %>

  <div class="no-results col l6 m8 s10 push-l3 push-m2 push-s1 center-align" style="margin-top: 30px;">
    <i><span>Nenhum utilizador corresponde à pesquisa efetuada...</span>
      <br>
      <span>Tente refinar a pesquisa para obter resultados.</span></i>
  </div>
</div>
