<%# encoding: utf-8 %>

<% @show_search_stuff = true %>
<% content_for :title, "Utilizadores :: GestãoEmergência" %>
<% content_for :page_purpose, "Utilizadores" %>

<% content_for :back_page do %>
    <%= link_to root_path, :data => {:position => 'right', :delay => '15',
                                     :tooltip => 'Voltar para o mapa'},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36">arrow_back</i>
    <% end %>
<% end %>


<!-- CENA DO ALFABETO, FICA PARA MAIS TARDE! -->
<!--<div class="center-btn">-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">A</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">B</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">C</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">D</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">E</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">F</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">G</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">H</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">I</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">J</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">K</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">L</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">M</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">N</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">O</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">P</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Q</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">R</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">S</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">T</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">U</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">V</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">W</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">X</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Y</a>-->
<!--<a href="" class="test-alphabet waves-effect waves-light btn">Z</a>-->
<!--</div>-->

<div class="container">
  <strong><span><%= flash.now[:error] %></span></strong>
  <div class="row" style="margin-top: 10px;">
    <% @users.each do |user| %>

        <div class="col l3 m4 s6">
          <div class="card small hoverable">
            <div class="card-image">
              <%= image_tag user.avatar.url(:small) %>
            </div>
            <div class="card-content" style="padding-top: 10px;">
            <span class="card-title grey-text text-darken-4 truncate">
              <%= user.first_name %> <%= user.last_name %>
            </span>

              <p class="truncate"><%= user.profile %></p>
            </div>
            <div class="card-action">
              <%= link_to "Ver perfil", user_path(user), method: :get %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>