<%# encoding: utf-8 %>

<% content_for :title, "Utilizadores :: PROCIV Portugal" %>
<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button', target: '_blank', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button active', target: '_blank', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin-top: 15px; margin-left: -1rem; margin-right: -1.5rem;">
  <div class="white z-depth-1" style="padding: 15px 10px 0 10px;">
    <%= form_for_filterrific @filterrific do |f| %>

        <div class="col l4 m12 s12 input-field">
          Pesquisar
          <%= f.text_field(
                  :search_query,
                  class: 'filterrific-periodically-observed'
              ) %>
        </div>

        <div class="col l4 m6 s12 input-field">
          Filtrar por perfil
          <%= f.select :with_role_name,
                       @filterrific.select_options[:with_role_name],
                       { :include_blank => '- Qualquer perfil -' } %>
        </div>

        <div class="col l4 m6 s12 input-field">
          Ordenar por
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        </div>

        <hr class="nice-trick">
    <% end %>
  </div>

  <div id="results">
    <%= render partial: 'list', locals: {users: @users} %>
  </div>
</div>

