<%# encoding: utf-8 %>

<% @show_search_stuff = true %>
<% content_for :title, "Utilizadores :: GestãoEmergência" %>
<% content_for :page_purpose, "Utilizadores" %>

<% content_for :back_page do %>
    <%= link_to root_path, id: 'back-button', method: :get do %>
        <i class="material-icons md-36 white-text">arrow_back</i>
    <% end %>
<% end %>

<div class="row" style="margin-top: 10px;">
  <% @users.each do |user| %>

      <div class="col l2 m3 s6">
        <div class="card small">
          <div class="card-image">
            <%= image_tag user.avatar.url %>
          </div>
          <div class="card-content" style="padding-top: 10px;">
            <span class="card-title grey-text text-darken-4 truncate">
              <%= user.first_name %> <%= user.last_name %>
            </span>

            <p class="truncate">Administrador</p>
          </div>
          <div class="card-action">
            <%= link_to "Ver perfil", user_path(user) %>
          </div>
        </div>
      </div>

  <% end %>
</div>
