<%# encoding: utf-8 %>

<% @show_search_stuff = false %>
<% content_for :title, "Utilizador " + @user.id.to_s + " :: GestãoEmergência" %>
<% content_for :page_purpose, "Utilizador " + @user.id.to_s %>

<% content_for :model_actions do %>
    <%= link_to edit_user_path(@user), :data => {:position => 'left', :delay => '15',
                                                 :tooltip => 'Editar utilizador'},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36">edit</i>
    <% end %>
<% end %>

<% content_for :back_page do %>
    <%= link_to users_path, :data => {:position => 'right', :delay => '15',
                                      :tooltip => 'Voltar para utilizadores'},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36 white-text">arrow_back</i>
    <% end %>
<% end %>

<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div id="profile-user-info" class="col l3 s12 center-align z-depth-1 profile-div">
      <div class="col l12 m6 s12">
        <%= image_tag @user.avatar.url, class: 'circle responsive-img' %>
      </div>

      <div class="col l12 m6 s8 offset-s2">
        <h5 style="font-weight: 300;">
          <%= @user.full_name %>
        </h5>
        <h6 style="font-weight: 300;">
          <%= @user.email %>
        </h6>

        <div class="divider divider-margin"></div>

        <div style="font-weight: 300;">
          <i class="material-icons tiny">access_time</i>
          <span style="padding-left: 10px"><%= @user.created_at.to_date.to_formatted_s(:rfc822) %></span>
        </div>

        <div style="font-weight: 300; ">
          <i class="material-icons tiny">person</i>
          <span style="padding-left: 10px"><%= @user.profile %></span>
        </div>
      </div>

    </div>

    <div class="profile-tabs col s12 l8 z-depth-1">
      <div>
        <ul id="profile-tabs-list" class="tabs">
          <li class="tab col s4">
            <a class="active" href="#test1">Equipas</a>
          </li>
          <li class="tab col s4">
            <a href="#test2">Test 2</a>
          </li>
          <li class="tab col s4">
            <a href="#test3">Opções</a>
          </li>
        </ul>
      </div>

      <div id="test1" class="col s12 profile-tab-content">Test 1</div>
      <div id="test2" class="col s12 profile-tab-content">Test 2</div>
      <div id="test3" class="col s12 profile-tab-content">Test 3</div>
    </div>
  </div>
</div>