<%# encoding: utf-8 %>

<% content_for :title, @user.full_name + " :: LiveTeams Portugal" %>
<% content_for :model_actions do %>
    <% if current_user.id == @user.id %>
        <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
          <%= link_to edit_user_registration_path, :data => {:position => 'left', :delay => '0',
                                                             :tooltip => 'Editar utilizador'},
                      class: 'btn-floating btn-large blue tooltipped', method: :get do %>
              <i class="large material-icons">mode_edit</i>
          <% end %>
        </div>
    <% elsif current_user.profile == Role::ADMINISTRADOR %>
        <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
          <%= link_to edit_user_path(@user), :data => {:position => 'left', :delay => '0',
                                                       :tooltip => 'Editar utilizador'},
                      class: 'btn-floating btn-large blue tooltipped', method: :get do %>
              <i class="large material-icons">mode_edit</i>
          <% end %>
        </div>
    <% end %>
<% end %>

<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', method: :get do %>
          Mapa
      <% end %>
    </li>
    <% if show_evaluation_form? %>
        <li>
          <%= link_to evaluation_form_path, class: 'evaluation_form_link navbar-button', method: :get do %>
              Questionário
          <% end %>
        </li>
    <% end %>
    <% if can_perform_action? :read, UserRole %>
        <li>
          <%= link_to permissions_path, class: 'navbar-button', method: :get do %>
              Permissões
          <% end %>
        </li>
    <% end %>
    <li>
      <%= link_to teams_path, class: 'navbar-button', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button active', method: :get do %>
          Utilizadores
      <% end %>
    </li>
<% end %>

<div class="row" style="margin: 15px 0 0 0;">
  <div id="profile-user-info" class="col l4 m12 s12 center-align z-depth-1 profile-div white"
       style="margin-left: 0px;">
    <div class="col l12 m6 s12">
      <%= image_tag @user.avatar.url(:small), class: 'circle responsive-img' %>
    </div>

    <div class="col l12 m6 s12">
      <h5 style="font-weight: 300;">
        <%= @user.full_name %>
      </h5>

      <div class="divider divider-margin"></div>

      <div style="font-weight: 300;">
        <i class="material-icons tiny">access_time</i>
        <span style="padding-left: 10px"><%= @user.created_at.to_datetime.to_formatted_s(:long_ordinal) %></span>
      </div>

      <div style="font-weight: 300; margin-top: 3px; margin-bottom: 3px;">
        <i class="material-icons tiny">person</i>
        <span style="padding-left: 10px"><%= @user.profile %></span>
      </div>

      <div style="font-weight: 300; margin-top: 3px; margin-bottom: 3px;">
        <i class="material-icons tiny">mail</i>
        <span style="padding-left: 10px"><%= @user.email %></span>
      </div>

      <div style="font-weight: 300; margin-top: 3px;">
        <i class="material-icons tiny">phone</i>
        <span style="padding-left: 10px"><%= @user.phone_number %></span>
      </div>

      <% if can_perform_action? :destroy, @user %>
          <div class="divider divider-margin"></div>
          <div style="font-weight: 300; margin-top: 3px;">
            <%= link_to destroy_user_path(@user), class: 'waves-effect waves-light btn red',
                        data: {confirm: "ATENÇÂO!!\n\nTem a certeza que prentende eliminar a conta?\nEsta ação é irreversível!"},
                        method: :delete, style: "width: 100%;" do %>
                <i class="material-icons left">warning</i>
                <% if current_user.id == @user.id %>
                    Eliminar a sua conta
                <% else %>
                    Remover conta
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div id="user_coordinates" class="center-align col s12 m12 l8 z-depth-1 white"
       style="padding-left: 20px; padding-top: 0px; padding-bottom: 20px; padding-right: 20px;">
    <h5 style="font-weight: 300;">Posição atual</h5>

    <div class="divider divider-margin"></div>

    <div id="user_map" style="height: 350px;"></div>
  </div>
</div>

<div class="row z-depth-1 white" style="margin: 20px 0 20px 0;">
  <div class="profile-tabs col s12 m12 l12" style="margin-top: 0;">
    <div>
      <ul id="profile-tabs-list" class="tabs" style="overflow-x: hidden;">
        <li class="tab col s6">
          <a class="stay-where-you-are active" href="#user-teams">
            Equipas (<%= @teams_belonging_or_created.count %>)
          </a>
        </li>
        <li class="tab col s6">
          <a href="#user-entities" class="stay-where-you-are">
            Geo-entidades (<%= @user.geo_entities.count %>)
          </a>
        </li>
        <li class="tab col s6">
          <a href="#user-permissions" class="stay-where-you-are">
            Permissões (<%= @user.get_user_temporary_roles.map(&:role).map(&:permissions).flatten.length %>)
          </a>
        </li>
      </ul>
    </div>

    <div id="user-teams" class="col s12 profile-tab-content">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Equipas a que pertence</h5></li>

        <% if @user.teams.length == 0 %>
            <li class="collection-item">
              Não pertence a nenhuma equipa
            </li>
        <% else %>
            <% @user.teams.each do |team| %>
                <li class="collection-item">
                  <div>
                    <strong>
                      <span style="font-size: 15px;"><%= team.name %></span>
                      <span> | </span>
                      <% if team.leader_id == @user.id %>
                          <span style="font-size: 12px;">Líder da equipa</span>
                      <% else %>
                          <span style="font-size: 12px;">Membro</span>
                      <% end %>
                    </strong>

                    <%= link_to team, :data => {:position => 'left', :delay => '15',
                                                :tooltip => 'Ir para a equipa'},
                                class: 'tooltipped secondary-content', method: :get, style: 'cursor: pointer;' do %>
                        <i class="material-icons">send</i>
                    <% end %>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>

      <ul class="collection with-header">
        <li class="collection-header"><h5>Equipas que criou</h5></li>

        <% if @user.teams_created.length == 0 %>
            <li class="collection-item">
              Não criou nenhuma equipa
            </li>
        <% else %>
            <% @user.teams_created.each do |team| %>
                <% belongs_to_team = TeamMember.where(team_id: team.id, user_id: @user.id).length == 0 ? false : true %>
                <% text_to_show = "Não pertence à equipa" %>

                <% if belongs_to_team %>
                    <% if team.leader_id == @user.id %>
                        <% text_to_show = "Líder" %>
                    <% else %>
                        <% text_to_show = "Membro" %>
                    <% end %>
                <% end %>

                <li class="collection-item">
                  <div>
                    <strong>
                      <span style="font-size: 15px;"><%= team.name %></span>
                      <span> | </span>
                      <span style="font-size: 12px;"><%= text_to_show %></span>
                    </strong>

                    <%= link_to team, :data => {:position => 'left', :delay => '15',
                                                :tooltip => 'Ir para a equipa'},
                                class: 'tooltipped secondary-content', method: :get, style: 'cursor: pointer;' do %>
                        <i class="material-icons">send</i>
                    <% end %>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div id="user-entities" class="col s12 profile-tab-content">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Geo-entidades que adicionou</h5></li>
        <% if @user.geo_entities.length == 0 %>
            <li class="collection-item">
              Não criou nenhuma geo-entidade
            </li>
        <% else %>
            <% @user.geo_entities.each do |entity| %>
                <%= puts "ENTYITY ENTITYTHIUTR" %>
                <%= puts entity.inspect %>
                <li class="collection-item">
                  <div class="row">
                    <div class="col l11 m11 s11">
                      <strong>
                        <span style="font-size: 15px;"><%= entity.name %></span>
                        <span> | </span>
                        <span style="font-size: 12px;"><%= entity.entity_type %></span>
                        <span> | </span>
                      </strong>
                      <span class="entity-latlon" style="font-size: 12px;"><%= entity.latlon %></span>
                    </div>
                    <div class="col l1 m1 s1 center-align">
                      <a data-position="left" onclick="goToGeoEntity(<%= entity.id %>)" data-delay="15"
                         data-tooltip="Centrar mapa" class="tooltipped secondary-content" style="cursor: pointer;">
                        <i class="material-icons">my_location</i>
                      </a>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div id="user-permissions" class="col s12 profile-tab-content">
      <% temp_user_roles = @user.get_user_temporary_roles %>
      <% if temp_user_roles.length > 0 %>
          <table class="centered highlighted responsive-table">
            <thead>
            <tr>
              <th>Modelo</th>
              <th>Ação</th>
              <th>Descrição</th>
              <th>Válido até</th>
            </tr>
            </thead>

            <tbody>
            <% temp_user_roles.each do |user_role| %>
                <% role = Role.find(user_role.role_id) %>
                <% role.permissions.each do |permission| %>
                    <tr>
                      <td><%= permission.subject_class %></td>
                      <td><%= permission.subject_action %></td>
                      <td><%= role.name %></td>
                      <td><%= user_role.expiration_date.to_formatted_s(:long) %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="grey lighten-3 z-depth-1">
            <p style="padding: 20px;">Não possui nenhuma permissão extraordinária para além daquelas inerentes
              ao seu perfil, uma vez que nenhum administrador lhe atribuíu qualquer papel temporário.</p>
          </div>
      <% end %>
    </div>
  </div>
</div>