<%# encoding: utf-8 %>

<% content_for :title, "Era uma vez uma password :: LiveTeams" %>
<% content_for :devise_links, (render "devise/shared/links") %>
<% content_for :page_purpose, "Recuperar password" %>
<% content_for :guide_message, "Já tem conta? " %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field col s12 m12 l12">
      <%= f.label "Endereço de email" %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email que usou para se registar" %>
    </div>

    <div class="actions col s12 m12 l12 center-align" style="margin-top: 10px;">
      <%= f.button 'Submeter pedido', class: "btn green waves-effect waves-light", style: "width: 100%;" %>
    </div>
<% end %>