<%# encoding: utf-8 %>

<% content_for :title, "Login :: Gestão Emergência" %>
<% content_for :devise_links, (render "devise/shared/links") %>
<% content_for :page_purpose, "Autenticação" %>
<% content_for :guide_message, "Ainda não tem conta? " %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field col s12 m12 l12">
      <%= f.label "Endereço de email" %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-field col s12 m12 l12">
      <%= f.label "Password" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="col s12 m12 l12" style="margin-top: 10px;">
          <%= f.check_box :remember_me %>
          <%= f.label "Guardar dados?", for: :user_remember_me %>
        </div>
    <% end -%>

    <div class="actions col s12 m12 l12 center-align" style="margin-top: 25px; margin-bottom: 20px;">
      <%= f.button 'Entrar!', class: "btn waves-effect waves-light" %>
    </div>

<% end %>