<%# encoding: utf-8 %>

<div class="white z-depth-1" style="padding: 15px 10px 0 10px;">
  <h5 style="font-weight: 300; padding: 0 10px 0 10px; margin-bottom: 20px;">
    <span style="font-size: 35px;font-weight: 400;">2. </span>
    Use os filtros abaixo para filtrar os utilizadores pelo nome,
    pela equipa a que pertecem e ainda pelo perfil que possuem
  </h5>

  <div id="permissions_search_div" class="col l4 m12 s12" style="margin-bottom: 20px;">
    <%= form_for_filterrific @users_create_filter do |f| %>

        <div id="create_role_partial_search" class="input-field" style="margin-bottom: 45px;">
          Filtrar por nome
          <%= f.text_field(
                  :search_query,
                  class: 'filterrific-periodically-observed'
              ) %>
        </div>

        <div id="create_role_partial_team_filter" class="input-field" style="margin-bottom: 60px;">
          <%= f.label "Filtrar por equipa", for: :with_team,
                      style: "left: 0; top: -23px; font-size: 15px; font-weight: 300; color: rgba(0,0,0,0.87);"  %>
          <%= f.select :with_team,
                       @users_create_filter.select_options[:with_team],
                       {:include_blank => '- Qualquer equipa -'}, id: "create_team_filter" %>
        </div>

        <div id="create_role_partial_profile_filter" class="input-field" style="margin-bottom: 30px;">
          <%= f.label "Filtrar por perfil", for: :with_role_name,
                      style: "left: 0; top: -23px; font-size: 15px; font-weight: 300; color: rgba(0,0,0,0.87);" %>
          <%= f.select :with_role_name,
                       @users_create_filter.select_options[:with_role_name],
                       {:include_blank => '- Qualquer perfil -'}, id: "create_profile_filter" %>
        </div>

        <div>
          <%= link_to(
                  'Repor filtros',
                  reset_filterrific_url,
                  method: :get,
                  style: "width: 100%;",
                  class: "btn waves-effect white-btn"
              # class: "right btn waves-effect"
              ) %>
        </div>

    <% end %>
  </div>

  <div class="col l8 m12 s12" id="create_permissions_results">
    <%= render partial: 'user_list_create', locals: {users: @users_create} %>
  </div>

  <hr class="nice-trick">
</div>

<div class="white z-depth-1" style="padding: 15px 10px 0 10px; margin: 20px 0 20px 0;">
  <h5 style="font-weight: 300; padding: 0 10px 0 10px;">
    <span style="font-size: 35px;font-weight: 400;">3. </span>
    Selecione agora os papéis que quer atribuir aos utilizadores selecionados e defina por quanto tempo esses
    mesmos papéis devem ser válidos. Use então o botão à direita para gravar os papéis na base de dados
  </h5>

  <div class="row" style="padding: 0 10px 0 10px;">
    <div class="input-field col l8 m6 s6">
      <label for="select_roles_to_add"></label>
      <%= select_tag "test222", options_for_select(Role.remaining_roles_for_select), multiple: true,
                     class: '', id: 'select_roles_to_add' %>
    </div>
    <div class="input-field col l4 m6 s6">
      <%= select_tag "teste111", options_for_select(Role.time_values_for_select), multiple: false,
                     include_blank: "- Escolha a validade dos papéis -",
                     class: '', id: 'select_time' %>
    </div>
  </div>

  <!--<div class="input-field col s12">-->
    <!--<select multiple>-->
      <!--<option value="" disabled selected>Choose your option</option>-->
      <!--<option value="1">Option 1</option>-->
      <!--<option value="2">Option 2</option>-->
      <!--<option value="3">Option 3</option>-->
    <!--</select>-->
    <!--<label>Materialize Multiple Select</label>-->
  <!--</div>-->
</div>
