<p style="margin-top: 0;">
  <b>NOTA:</b> Apenas utilizadores que têm papéis temporários atribuídos são apresentados
</p>

<% if users.length == 0 %>
    <div class="grey lighten-3 z-depth-1"
         style="width: 100%; margin: 20px 0 20px 0; padding: 20px; font-style: italic;">
      Nenhum utilizador corresponde à sua pesquisa. Experimente refinar os parâmetros de pesquisa.
    </div>
<% else %>
    <ul class="collapsible" data-collapsible="expandable">
      <% users.each do |user| %>
          <% remaining_roles = user.get_user_temporary_roles %>
          <% if remaining_roles.length > 0 %>
              <li>
                <div class="collapsible-header active">
                  <i class="material-icons">person_outline</i>
                  <%#= image_tag user.avatar.url(:thumb), height: 40, width: 40, class: "circle", style: "margin-top: 6px;" %>
                  <span>
                <b><%= user.full_name %></b> | Papéis temporários que possui:
                <span class="temp_roles_count"><%= remaining_roles.length %></span>
              </span>
                </div>

                <div class="collapsible-body">
                  <% remaining_roles.each do |role| %>
                      <% current_role = user.user_roles.where("role_id = ? and expiration_date > ?",
                                                              role.id, Time.current).first %>
                      <div class="user_roles_to_remove truncate">
                        <button class="remove_user_roles btn waves-effect red" style="padding: 0 15px 0 15px;"
                                data-user-id="<%= user.id %>" data-role-id="<%= role.id %>"
                                data-role-name="<%= role.name %>" data-user-name="<%= user.full_name %>">
                          Remover?
                        </button>
                    <span class="truncate" style="display: inline; padding-left: 15px;">
                      <b><%= role.name %></b>, válido por mais <%= distance_of_time_in_words(
                                                                       Time.current, current_role.expiration_date) %>
                    </span>
                      </div>
                  <% end %>
                </div>
              </li>
          <% end %>
      <% end %>
    </ul>
<% end %>