<p style="margin-top: 0;">
  <b>NOTA:</b> Apenas utilizadores que têm papéis temporários atribuídos são apresentados
</p>

<ul class="collapsible" data-collapsible="expandable">
  <% no_users_to_show = true %>
  <% if users.length > 0 %>
      <% users.each do |user| %>
          <% temp_roles = user.get_user_temporary_roles %>
          <% if temp_roles.length > 0 %>
              <% no_users_to_show = false %>

              <li>
                <div class="collapsible-header active">
                  <i class="material-icons">person_outline</i>
                  <%#= image_tag user.avatar.url(:thumb), height: 40, width: 40, class: "circle", style: "margin-top: 6px;" %>
                  <span>
                <b><%= user.full_name %></b> | Papéis temporários que possui:
                <span class="temp_roles_count"><%= temp_roles.length %></span>
              </span>
                </div>

                <div class="collapsible-body">
                  <% temp_roles.each do |temp_role| %>
                      <% role = Role.find(temp_role.role_id) %>
                      <div class="user_roles_to_remove truncate">
                        <button class="remove_user_roles btn waves-effect red" style="padding: 0 15px 0 15px;"
                                data-user-id="<%= user.id %>" data-role-id="<%= role.id %>"
                                data-role-name="<%= role.name %>" data-user-name="<%= user.full_name %>">
                          Remover?
                        </button>
                    <span class="truncate" style="display: inline; padding-left: 15px;">
                      <b><%= role.name %></b>, válido por mais <%= distance_of_time_in_words(
                                                                       Time.current, temp_role.expiration_date) %>
                    </span>
                      </div>
                  <% end %>
                </div>
              </li>
          <% end %>
      <% end %>

      <% if no_users_to_show %>
          <div class="grey lighten-3 z-depth-1"
               style="width: 100%; margin: 0 0 20px 0; padding: 20px; font-style: italic; text-align: center;
                   font-size: 17px;">
            Nenhum dos utilizadores que correspondem à sua pesquisa tem papéis temporários associados.<br>
            Experimente procurar com outro nome.
          </div>
      <% end %>

  <% else %>
      <div class="grey lighten-3 z-depth-1"
           style="width: 100%; margin: 0 0 20px 0; padding: 20px; font-style: italic; text-align: center;
               font-size: 17px;">
        Nenhum utilizador corresponde à sua pesquisa.<br>
        Experimente refinar os parâmetros de pesquisa.
      </div>
  <% end %>
</ul>