<p style="">
  <b><%= users.length %></b> utilizadores correspondem à sua pesquisa, <b id="selected_count">0</b> selecionados<br>
  Para selecionar o utilizador basta ativar a caixa respetiva
</p>

<div class="row">
  <div class="col l5 m6 s6">
    <a href="#!" style="width: 100%;" class="btn waves-effect white-btn"
       onclick="changeTableSelection(true);">Todos</a>
  </div>
  <div class="col l5 m6 s6">
    <a href="#!" style="width: 100%;" class="btn waves-effect white-btn"
       onclick="changeTableSelection(false);">Nenhum</a>
  </div>
</div>

<table id="users_filtered_table" class="highlight centered responsive-table" style="width: 100%;">
  <tbody id="users_filtered_table_body">

  <% users.each do |user| %>
      <tr>
        <td>
          <input type="checkbox" id="<%= user.id.to_s %>" name="users_with_filter" class="filled-in"/>
          <label for="<%= user.id.to_s %>"></label>
        </td>
        <td style="padding-top: 8px; padding-bottom: 5px;">
          <%= image_tag user.avatar.url(:thumb), height: 40, width: 40, class: "circle" %>
        </td>
        <td>
          <%= link_to user.full_name, user, method: :get %>
        </td>
        <td>
          <%= user.profile %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>