<%# encoding: utf-8 %>

<% content_for :title, "Permissões :: LiveTeams Portugal" %>
<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to evaluation_form_path, class: 'evaluation_form_link navbar-button', method: :get do %>
          Questionário
      <% end %>
    </li>
    <li>
      <%= link_to permissions_path, class: 'active navbar-button', method: :get do %>
          Permissões
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<% content_for :model_actions do %>
    <div id="create_user_roles_btn" class="fixed-action-btn" style="bottom: 25px; right: 25px; display: block;">
      <a href="#!" data-position="left" data-delay="0" data-tooltip="Atribuir papéis!"
         class="btn-floating btn-large red tooltipped" onclick="submitUserRolesToDB()">
        <i class="large material-icons">save</i>
      </a>
    </div>

    <!--<div id="destroy_user_roles_btn" class="fixed-action-btn" style="bottom: 25px; right: 25px; display: none">-->
      <!--<a href="#!" data-position="left" data-delay="0" data-tooltip="Remover papéis!"-->
         <!--class="btn-floating btn-large red tooltipped" onclick="removeUserRolesFromUser()">-->
        <!--<i class="large material-icons">delete</i>-->
      <!--</a>-->
    <!--</div>-->
<% end %>


<div class="row" style="margin: 10px 0 0 0;">
  <div class="" style="padding: 15px; margin-bottom: 15px;">
    <h3 style="font-weight: 200; margin: 0;">Permissões</h3>
    <div class="divider" style="margin-top: 5px;"></div>
  </div>

  <div class="row white z-depth-1" style="padding: 15px 10px 15px 10px; margin: 20px 0 20px 0;">
    <h5 style="font-weight: 300; padding: 0 10px 0 10px; margin-bottom: 15px;">
      <span style="font-size: 35px;font-weight: 400;">1. </span>
      Escolha qual a ação que pretende fazer - adicionar ou remover papéis aos utilizadores - e o formulário
      apropriado é apresentado
    </h5>

    <div class="col l6 m6 s6">
      <button disabled id="show_create_form_btn" style="width: 100%;" class="btn waves-effect white-btn"
         onclick="toggleFormVisibility('create')">Adicionar papéis</button>
    </div>
    <div class="col l6 m6 s6">
      <button id="show_destroy_form_btn" style="width: 100%;" class="btn waves-effect white-btn"
         onclick="toggleFormVisibility('destroy')">Remover papéis</button>
    </div>
  </div>

  <div id="create_user_roles_form" style="display: block;">
    <!-- o conteudo da partial deve vir para aqui! -->
    <%= render partial: "create" %>
  </div>

  <div id="destroy_user_roles_form" style="display: none;">
    <!-- o conteudo da partial deve vir para aqui! -->
    <%= render partial: "destroy" %>
  </div>

</div>