<%# encoding: utf-8 %>

<% content_for :title, "Permissões :: PROCIV Portugal" %>
<% content_for :navbar_buttons do %>
    <li>
      <%= link_to root_path, class: 'navbar-button', method: :get do %>
          Mapa
      <% end %>
    </li>
    <li>
      <%= link_to permissions_path, class: 'active navbar-button', method: :get do %>
          Permissões
      <% end %>
    </li>
    <li>
      <%= link_to teams_path, class: 'navbar-button', method: :get do %>
          Equipas
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'navbar-button', method: :get do %>
          Membros
      <% end %>
    </li>
<% end %>

<div class="row" style="margin: 10px 0 0 0;">
  <div class="" style="padding: 15px; margin-bottom: 15px;">
    <h3 style="font-weight: 200; margin: 0;">Permissões</h3>
    <div class="divider" style="margin-top: 5px;"></div>
  </div>

  <!--<div class="white z-depth-1" style="padding: 15px 10px 0 10px;">-->
    <!--<%= form_for_filterrific @filterrific do |f| %>-->

        <!--<div class="col l4 m12 s12 input-field">-->
          <!--Pesquisar-->
          <%= f.text_field(
#                   :search_query,
#                   class: 'filterrific-periodically-observed'
              ) %>
        <!--</div>-->

        <!--<div class="col l4 m6 s12 input-field">-->
          <!--Filtrar por perfil-->
          <%= f.select :with_role_name,
#                        @filterrific.select_options[:with_role_name],
                       {:include_blank => '- Qualquer perfil -'} %>
        <!--</div>-->

        <!--<div class="col l4 m6 s12 input-field">-->
          <!--Ordenar por-->
          <!--<%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>-->
        <!--</div>-->

        <!--<hr class="nice-trick">-->
    <!--<% end %>-->
  <!--</div>-->
</div>