<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
<head>
  <title>Mapa :: LiveTeams Portugal</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <%= include_gon(watch: true) %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'index' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'index' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash_messages' if !flash.empty? %>

<%= yield %>

</body>
</html>
