<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%#= include_gon(watch: true) %>
  <%= Gon::Base.render_data({}) %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'listings_test' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'listings_test' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">

<div class="navbar-fixed">
  <nav class="indigo darken-4" role="navigation" style="box-shadow: none;">
    <div class="nav-wrapper container">
      <ul class="left">
        <li>
          <%= link_to root_path, style: 'font-size: 1.2rem; font-weight: 100; margin-top: 0;',
                      class: 'navbar-padding-top brand-logo left', method: :get do %>
              <i id="navbar-map-btn" class="material-icons left">map</i>Mapa
          <% end %>
          </a>
        </li>
      </ul>
      <a href="#" data-activates="mobile-demo" class="right button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to teams_path, class: 'navbar-button', method: :get do %>
              Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: 'navbar-button', method: :get do %>
              Membros
          <% end %>
        </li>
        <li>
          <%= link_to current_user, class: 'navbar-button', style: 'height: 64px;', method: :get do %>
              <%= image_tag current_user.avatar.url(:thumb), class: 'circle', style: 'margin-top: 15px;',
                            height: '32', width: '32' %>
          <% end %>

        </li>
        <% if @show_search_stuff %>
            <li>
              <a href="#!" class="navbar-button" id="toggle-search">
                <i class="material-icons">search</i>
              </a>
            </li>
        <% end %>
      </ul>
      <% if @show_search_stuff %>
          <ul class="right hide-on-large-only">
            <li id="navbar-search-btn">
              <a href="#!" class="navbar-button" id="toggle-search">
                <i class="material-icons">search</i>
              </a>
            </li>
          </ul>
      <% end %>







      <ul class="side-nav" id="mobile-demo">
        <li style="padding: 0;">
          <div id="teste-sidenav" style="height: 120px;">
            <div style="padding-top: 56px; height: 120px; padding-left: 15px; padding-right: 15px;" class="valign-wrapper">
                <%= image_tag current_user.avatar.url(:thumb), class: 'circle valign', style: 'margin-top: 0;',
                              height: '32', width: '32' %>
                <%= link_to current_user, class: 'valign white-text', style: ' margin-bottom: 28px; height: 32px;', method: :get do %>
                    <%= current_user.full_name %>
                <% end %>
            </div>
          </div>
        </li>
        <li>
          <%= link_to teams_path, class: 'navbar-button', method: :get do %>
              Equipas
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: 'navbar-button', method: :get do %>
              Membros
          <% end %>
        </li>
        <li>
          <%= link_to current_user, class: 'navbar-button', method: :get do %>
              Perfil
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>


<% if @show_search_stuff %>
    <div class="row white-text indigo darken-4" id="search" style="display: none; position: fixed; width: 100%; z-index: 9999;">
      <div class="container">
        <input id="search-bar" class="form-control white-text" type="text" name="q"
               placeholder="Introduza o nome do utilizador...">
      </div>
    </div>
<% end %>



<!--<nav id="nav" class="cyan">-->
<!--<div class="container">-->
<!--<div class="nav-wrapper">-->
<!--<ul id="nav-mobile" class="left navbar-btn-wrapper">-->
<!--<li id="nav-back-btn">-->
<!--<%= yield(:back_page) %>-->
<!--</li>-->
<!--</ul>-->
<!--<h2 id="page-title-center" class="brand-logo center"><%= yield(:page_purpose) %></h2>-->

<!--<ul id="nav-mobile" class="right navbar-btn-wrapper">-->
<!--
<% if @show_search_stuff %>-->
    <!--<li id="nav-search-btn">-->
    <!--<a href="#!" class="tooltipped navbar-button" data-position="left" data-delay="15"-->
    <!--data-tooltip="Pesquisar" id="toggle-search"><i class="material-icons md-36">search</i></a>-->
    <!--</li>-->
    <!--
<% end %>-->
<!--<li id="nav-add-edit-btn">-->
<!--<%= yield(:model_actions) %>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<div class="container" id="page-content">
  <%= yield %>
</div>

</body>
</html>