<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'listings_test' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'listings_test' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="nav" class="cyan">
  <div class="container">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <%= yield(:back_page) %>
      </ul>
      <h2 id="page-title-center" class="brand-logo center"><%= yield(:page_purpose) %></h2>

      <% if @show_search_stuff %>
          <ul id="nav-mobile" class="right">
            <li><a href="#!" id="toggle-search"><i class="large mdi-action-search"></i></a></li>
          </ul>
      <% end %>

    </div>
  </div>
</nav>

<% if @show_search_stuff %>
    <div class="row white-text cyan" id="search" style="display: none;">
      <div class="container">
        <form action="#" method="get">
          <input class="form-control white-text" type="text" name="q" placeholder="Introduza o nome do utilizador...">
        </form>
      </div>
    </div>
<% end %>

<%= yield %>

</body>
</html>