<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'listings_test' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'listings_test' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">

<nav id="nav" class="cyan">
  <div class="container">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left navbar-btn-wrapper">
        <li id="nav-back-btn">
          <%= yield(:back_page) %>
        </li>
      </ul>
      <h2 id="page-title-center" class="brand-logo center"><%= yield(:page_purpose) %></h2>


      <ul id="nav-mobile" class="right navbar-btn-wrapper">
        <% if @show_search_stuff %>
            <li id="nav-search-btn">
              <a href="#!" class="tooltipped navbar-button" data-position="left" data-delay="15"
                 data-tooltip="Pesquisar" id="toggle-search"><i class="material-icons md-36">search</i></a>
            </li>
        <% end %>
        <li id="nav-add-edit-btn">
          <%= yield(:model_actions) %>
        </li>
      </ul>


    </div>
  </div>
</nav>

<% if @show_search_stuff %>
    <div class="row white-text cyan" id="search" style="display: none;">
      <div class="container">
        <form action="#" method="get">
          <input class="form-control white-text" type="text" name="q" placeholder="Introduza o nome do utilizador...">
        </form>
      </div>
    </div>
<% end %>

<%= yield %>

</body>
</html>